/* Header reset and padding */
h1 {
	 padding-left: 80px;
	 margin-top: 0px;
	 padding-top:10px;
}
/* text# Header box alignment */
.text1 {
	margin-left: 200px;
	padding: 20px;
}
/* image# Picture alignment */
.image1 {
	bottom: 0;
	float: left;
	height: 150px;
	margin: auto;
	padding: 0 20px;
	position: absolute;
	top: 0;
}
		
.image2 { 
	bottom: 0;
	float: right;
	height: 150px;
	margin: auto;
	padding: 0 20px;
	position: absolute;
	right: 0;
	top: 0;
}
		
.text2 {
	margin-right: 200px;
	padding: 20px;
}

.box1 {
	margin: 10px;
	min-height: 120px;
	position: relative;
	overflow: hidden;
}
		
h3 {
	padding-left: 80px;
}
/* Philosophy section padding */
.philosophy {
	padding: 5px 0 5px 15px;
}
				
.box {
	border-top: 2px solid red;
	height:300px;
}
/* History section padding */		
.history {
	padding: 5px;
} 

  