/* Header reset and padding */
h1 {
	text-align: center;
	margin-top: 0px;
	padding-top:30px;
	margin-bottom: 0px;
	color:white;
	height:100px;
	background-image: url("../images/v.jpg");
}
/* text# Header box alignment */
.text1 {
		margin-left: 15px;
		padding: 10px;
		margin-right: 150px;
		margin-top: 0;

		
}

.box1 {
		background-image: url("../images/g.jpg");
		background-color: black;/*#8b9195;*/
		background-repeat: no-repeat; 
		background-position: center;
		width:100%;
        height: 300px;
		overflow: auto;
		
		
} 

.box2 {
		background-image: url("../images/imagea.png");
        background-color:black;
		background-repeat: no-repeat; 
		background-position: center;
        height: 300px;
		width:100%;
		overflow: auto;
		margin-top=0;
}   

.box3 {
		background-image: url("../images/1.jpg");
        background-color: black;
		background-repeat: no-repeat; 
		background-position: center; 
        height: 300px;
		width:100%;
		overflow: auto;
		margin-top=0;
}		

		
 h3 {
		padding: 3px 0 5px 120px;
		color: white;
}

.philosophy {
		padding-right: 50px;
		font-size: 100%;
		color: white;
		margin-right: 150px;
		text-align: left;
} 

 