/* For older browsers that don't support header,
footer, nav, and main elements */
header, footer, nav, main, figure, figcaption {
	background-color: #FFFFFF;
	display: block;
	font-size: 80%;
}

.centered {
  position: fixed;
  left: 50%;
}

a {
	text-decoration: none;
}

body {
	background-color: #F2B7A6;
	font-family: Verdana, Arial, sans-serif;
	margin: 0;
}

/* Styles for the whole page */
#main {
	min-height: 50vh;
}

/* End of whole page styles */

/* The back to top anchor */
.backup {

}

/* Header styles */
header {
	background-color: #9B3417;
	width: 100%;
	text-align: center;
}

#headbox {
	margin: auto;
	width: 90%;
}

#logo{
	float: left;
}

header ul {
	margin: 0;
	padding: 0;
	display: inline-block;
	line-height: 50px;
	padding-left: 10px;
}

header li {
	display: inline;
	list-style-type: none;
}

a.navlink:hover {
	text-decoration: underline;
}

.clear {
	clear: both;
}

/* Nav styles. Contained within header */
nav{
	background-color: #9B3417;
	padding: 0;
}

.navlink {
	padding: 0px 20px;
	color: #F7D0BB;
	display: inline-block;
}

.navshop {
	padding: 0 30px 0 50px;
	color: #F7D0BB;
	display: inline-block;
	float: right;
	padding-top: 15px;
	text-decoration: none;
}
70
.fa-shopping-cart a:hover{
	text-decoration: none;
}

.fa-user-circle a:hover{
	text-decoration: none;
}
/* End of header styles*/

/* Footer styles*/	
footer {
	background-color: #9B3417;
	color: #F7D0BB;
	position: relative;
	bottom: 0;
	line-height: 150%;
	padding: 0 200px 5px 200px;
}

#hours 	{
	text-align: left;
}

#hours td {
	padding-right: 10px;
}

.footbox {
	margin: 0 0 0 17%;
	width: 75%;
	box-sizing: border-box;
}

.footbox > div {
	padding: 50px 0 0	;
	box-sizing: border-box;
}

/* For footbox */
@media screen and (min-width: 50em) {
	.footbox {
    overflow: hidden;
	}
	.footbox > div {
	float: left;
    width: 50%;
	}
	.footbox > div:nth-child(odd) {
    clear: left;
	}
}

/* For footbox */
@media screen and (min-width: 70em) {
  .footbox > div {
    width: 25%;
  }
  .footbox > div:nth-child(odd) {
    clear: none;
  }
}

.footbox th{
	font-family: Verdana, Arial, sans-serif;
	text-align: left;
	font-size: 1.2em;
}	

.footbox a:link {
	color: #F7D0BB;
	text-decoration: none;
}

.footbox a:visited {
	color: #F7D0BB;
	text-decoration: none;
}

.footbox a:hover {
	color: #FFFFFF;
}

.footbox table{
	padding: 0; 
	margin: 0;
	border-collapse: collapse;
}

#sitemap div{
	text-transform: uppercase;
	list-style-type: none;
}

/*SM*/
.footbox .fa a{
	background: #F7D0BB;
	color: #9B3417;
	padding: 5px;
	font-size: ;
	width: 20px;
	text-align: center;
	text-decoration: none;
	margin: 2px;
	border-radius: 25%;
  
}

.footbox .fa-instagram:hover {
	background: #125688;
	color: #FFFFFF;
}

.footbox .fa-pinterest:hover {
	background: #cb2027;
	color: #FFFFFF;
}

.footbox .fa-facebook:hover {
	background: #3B5998;
	color: #FFFFFF;
}

.footbox .fa-twitter:hover {
	background: #55ACEE;
	color: #FFFFFF;
}

.footbox td:nth-of-type(2) {
	font-family: Verdana, Arial, sans-serif;
	padding-left: 10px;
}

#copyr{
	margin: 35px 10% 35px 10%;
}

/* End of footer styles */



