a {
	text-decoration: none;
}

html {
    position: relative;
}

body {
	font-family: Verdana, Arial, sans-serif;
	margin: 0;
}

/* Styles for the whole page */
#main {
	background-color: #FFFFFF;
	min-height: 100vh;
	padding-top: 50px;
	margin-bottom: 170px;
}

.clear {
	clear: both;
}

/* End of whole page styles */

/* Header styles */
header {
	position: fixed;
	background-color: #9B3417;
	width: 100%;
	text-align: center;
	z-index: 3;
}

nav {
	margin: 0 auto;
	width: 90%;
	display: flex;
	height: 52px;
}

#navbar ul {
	margin: 16px;
}

#navbar a{
	font-size: 16px;
}

nav a{
	color: #F7D0BB;
	text-decoration: none;
}

#logo{
	flex: 1;
}

#navbar {
	flex: 3;
}

#navbar li {
	display: inline;
	list-style-type: none;
}

/* Nav styles. Contained within header */
#navbar a{
	padding: 0 20px;
}

#navbar a:hover {
	color: #FFFFFF;
}

#navshop {
	flex: 1;
}

#navshop a{
	padding: 10px 0 10px 65px;
	float: right;
}

#navshop a:hover{
	color: #FFFFFF;
}
/* End of header styles*/

/* Footer styles*/	
footer {
	background-color: #9B3417;
	color: #F7D0BB;
	position: absolute;
	width: 100%;
	bottom: 0;
	font-size: 75%;
	height: 170px;
}

.footbox0 {
	background-color: #9B3417;
}

#info {
	width: 90%;
	margin: auto;
	display: flex;
	font-size: 1em;
}

#hours {
	flex: 1;
	padding: 15px 0;
	float: left;
}

#hours a{
	color: #F7D0BB;
}

#hours a:hover{
	color: #FFFFFF;
}

#slogan {
	flex: 1;
	text-align: center;	
	padding: 15px 0;
	font-family: Italianno;
	font-size: 2em;
	word-spacing: 5px;
}

#address {
	flex: 1;
	padding: 15px 0;
	text-align: right;
}

.footbox1 {
	background-color: #8A2306;
}

#anchor {
	width: 90%;
	margin: auto;
	display: flex;
}

#links {
	padding: 20px 0 0 0;
	flex: 2;
}

#links a{
	color: #F7D0BB;
}

#links a:hover {
	color: #FFFFFF;
}

#logo2 {
	flex: 1;
}

#translogo {
	display: block;
	margin: 0 auto;
	padding: 5px 0;
}

#sm {
	flex: 2;
}

#sm a{
	background: #F7D0BB;
    color: #9B3417;
    padding: 8px;
    margin: 15px 10px;
    float: right;
    border-radius: 25px;
    font-size: 1em;
}

#sm a#fb {
	padding: 8px 11.5px;
}

.footbox2 {
	width: 90%;
	margin: auto;
}

#copyr{
	padding: 20px 0 0;
	font-size: 80%;
}

/* The back to top anchor */
.backup {
	opacity: 0;
	color: rgba(247, 208, 187, 0.5);
	
	position: fixed;
	bottom: 10px;
	right: 10px;
    z-index: 2;
	
	width: 64px;
	height: 75px;
}

.backup:hover {
	color: rgba(247, 208, 187, 1);
}

#sm .fa-instagram:hover {
	background: #125688;
	color: #FFFFFF;
}

#sm .fa-pinterest:hover {
	background: #cb2027;
	color: #FFFFFF;
}

#sm .fa-facebook:hover {
	background: #3B5998;
	color: #FFFFFF;
}

#sm .fa-twitter:hover {
	background: #55ACEE;
	color: #FFFFFF;
}

/* End of footer styles */

#printlogo {
	display: none;
}

.dropdown {
	position: relative;
}

.dropdown-content {
	display: none;
	position: absolute;
	right: 25%;
	top: 52px;
}

#navshop #thisDropdown.dropdown-content a {
	background-color: #F7D0BB;
	color: black;
	padding: 8px 10px;
	width: 120px;
}

#navshop #thisDropdown a:hover {
	background-color: #9B3417;
	color: #F7D0BB;
}

.show {
	display: block;
}