main{
	padding-bottom: 40px;
}

/* Top row necessary padding reset */
#toprow p{
	margin-top: 0;
	margin-bottom: 0;	
	padding: 50px 0 30px 0;
}
/* Top row + banner */
#toprow{
	width: 100%;
	margin: auto;
	padding-bottom: 50px;
	background-image: url("../images/banner.jpeg");
	background-repeat: no-repeat;
	height: 116px;
	
	background-size:cover;
}
/* Left column items */
#shopcart{
	font-size: 30px;
	padding: 0px 20px;
	font-family: Verdana;
}
/* Content */
#botrow{
	
	margin: auto;
	margin-bottom: 50px;
}
/* Order */
#cart{
	width: 60%;
	margin-left: 0px;
	padding: 50px 0px;
	float: left;
	margin-left: 50px;
}

#detail{
	font-size: 20px;
	text-align: center;
	float: left;
	width: 25%;
}

#detail p{
	margin: 0;
}

.item{
	padding-top: 20px;
}
/* Price Quantity Item total */
.pqi{
	font-size: 20px;
	text-align: right;
	width: 55%;
	float: right;
}

.trspace {
	padding: 0px 15px;
}
/* Product image float fix */
.product img{
	width: 15%;
	float: left;
}

.pname{
	font-size: 14px;
	font-weight: 700;
	width: 20%;
	float: left;
	padding-left: 10px;
}

.pinfo{
	padding: 0px 15px;
	margin-left: 30px;
}

.ppqi{
	
	text-align: right;
	float: right;
}

#rightcont{
	overflow: auto;
	margin: auto;
	width: 300px;
}
/* Checkout absolute, may change to fixed */
#checkout{
	width: 300px;
	margin-top: 30px;
	position: absolute;
	background-color: white;
	border: 3px solid #9B3417;
	height: 455px;
}
/* Receipt heading */
#receipt{
	background-color: #9B3417;
	border-style: none;	
	color: white;
	height: 60px;
	font-family: Verdana;
	font-size: 20px;
	text-align: center;
	padding-top: 30px;
}

.extraspace{
	height: 25px;
}

#general{	
	position: relative;
}

#order{
	margin: 15px;
	font-family: Verdana;
	line-height: 26.4px;
}
.leftside{
	font-weight: bold;
	color: #9B3417;
}

.discount{
	color: red;
}

.rightside{
	float: right;
}
/* Checkout button css */
.finalize{	
	background-color: #9B3417;
	border-style: none;	
	color: white;
	width: 100%;
	font-family: Verdana;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	position: absolute;
	padding: 33px 0px;
}
.finalize:visited{
	color: white;
	text-decoration: none;
}

.finalize:hover{
	-webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
	background-color: #7B1403;
	cursor: pointer;
}

.btmfood{
	border: 1px red solid;
	clear: both;
}
/* Form reset */
input#submit{
	background:none;
	border:none;
	color: white;
	width: 100%;
	font-family: Verdana;
	font-size: 20px;
	cursor: pointer;	
}

