main{
	padding-bottom: 40px;
}

#leftcont{
	margin: auto;
	width: 80%;
	margin-top: 50px;
}

table {
	width: 70%;
	margin: auto;
	float: left;
	border: 1px solid #9B3417;
	border-radius: 15px;
	box-sizing: border-box;
	padding: 50px;
}

tr {
	padding: 15px 0;
	margin: 0;
	border-bottom: 1px solid #9B3417;
	width: 100%;
	display: flex;
}

td input{
	width: 50px;
}

th:first-child {
	padding-left: 50px;
	text-align: left;
}

td:first-child {
	padding-left: 50px;
}

th:not(:first-child) {
	text-align: left;
}

td:not(:first-child) {
	text-align: left;
	padding-top: 50px;
}

.flex2 {
	flex: 2;
}

.flex1 {
	flex: 1;
}

#rightcont{
	overflow: auto;
	margin: auto;
	width: 300px;
}
/* Checkout absolute, may change to fixed */
#checkout{
	width: 300px;
	margin-top: 30px;
	position: absolute;
	background-color: white;
	border: 3px solid #9B3417;
	height: 455px;
}
/* Receipt heading */
#receipt{
	background-color: #9B3417;
	border-style: none;	
	color: white;
	height: 60px;
	font-family: Verdana;
	font-size: 20px;
	text-align: center;
	padding-top: 30px;
}

.extraspace{
	height: 25px;
}


#order{
	margin: 15px;
	font-family: Verdana;
	line-height: 26.4px;
}

.leftside{
	font-weight: bold;
	color: #9B3417;
}

.errorMessage{
	color: red;
	font-size: small;
}

.rightside{
	float: right;
}
/* Checkout button css */
.finalize{	
	background-color: #9B3417;
	border-style: none;	
	color: white;
	width: 100%;
	font-family: Verdana;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	position: absolute;
	padding: 33px 0px;
}
.finalize:visited{
	color: white;
	text-decoration: none;
}

.finalize:hover{
	-webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
	background-color: #7B1403;
	cursor: pointer;
}

.btmfood{
	border: 1px red solid;
	clear: both;
}
/* Form reset */
input#submit{
	background:none;
	border:none;
	color: white;
	width: 100%;
	font-family: Verdana;
	font-size: 20px;
	cursor: pointer;	
}

