/* Left alignment */
#wrapper {
	padding-left: 20px;
}

h1 {
	border-bottom: 1px solid #F2B7A6;
	margin-top: 0;
	padding-top: 10px;
	width: 480px;
}

#info p {
	width: 550px;
}

form {
	padding-top: 10px;
	width: 550px;
}
/* Box rounding and soften */
fieldset {
	border: 1px solid #9B3417;
	border-radius: 15px;
	margin-bottom: 10px;
	width: 550px;
}

h2 {
	margin-top: 0px;
	padding-top: 5px;
}

li {
	list-style-type: none;
}
/* Necessary sections */
.required {
	color: red;
}

input {
	border: 1px solid #eee;
	border-radius: 2px;
	padding: 5px;
	width: 300px;
}
/* Necessary section -webkit for Safari */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.tel {
	width: 54px;
}
/* Float right effect */
#desired input {
	width: 15px;
}

#submit input {
	background-color: #9B3417;
	border-style: none;
	color: white;
	height: 40px;
	margin-bottom: 20px;
	width: 100px;
}
/* Similar to finalize */
#submit input:hover {
	-webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
	background-color: #7B1403;
	cursor: pointer;
}