.container1 {
	float: left;
	margin-right: 15px;
}

.container2 {
	overflow: auto;
}

#fullcontainer {
	margin: auto;
	width: 750px;
}

fieldset {
	border: 1px solid #9B3417;
	border-radius: 15px;
	width:400px;
}
 
#location {
	height: 85px;
	padding: 10px;
	width:275px;
}

li {
	list-style-type: none;
}

.required {
	color: red;
}

input {
	border: 1px solid #eee;
	border-radius: 2px;
	padding: 5px;
	width: 300px;
}

#submit input {
	background-color: #9B3417;
	border-style: none;
	color: white;
	height: 40px;
	margin-bottom: 20px;
	margin-left: 40px;
	width: 100px;
}

#submit input:hover {
	opacity: 0.75;
}
