/* two column format */
#wrapper {
	margin: auto;
	width: 900px;
	padding-top: 50px;
}

#leftcol {
	float: left;
	margin-right: 15px;
}

#rightcol {
	float: right;
}
 
/* left column */
#location {
	height: 85px;
	padding: 10px;
	width:275px;
}

/* submission error messages */
#errFeedback {
	color: red;
	font-size: small;	
}
