/* Products Exclusive CSS */
#general {
	position: relative;

}
/* Filter basic appearance */
/* Fixed position necessary */
#filter {
	font-weight: bold;
	position: fixed;
	text-transform: uppercase;
}

#filter ul {
	
	list-style-type: none;
}

#filter li {
	padding: 20px 0;
}

#filter a {
	color:#000000;
	text-decoration: none;
}

#products {
	margin-left: 170px;
}
/* Picture response */
.thumbnails {
	display: inline-block;
}

.sectionhead {
	border-bottom: solid 1px #F2B7A6;
	padding-top: 20px;
	text-align: left;
	text-transform: uppercase;
}
