/* Products Exclusive CSS */
#general {
	position: relative;

}
/* Filter basic appearance */
/* Fixed position necessary */
#filter {
	position: fixed;
}

#filter ul {
	list-style-type: none;
}

#filter li {
	padding: 10px 0;
}

#filter .special {
	font-weight: bold;
	padding-top: 8px;
}

#products {
	margin-left: 270px;
}
/* Picture response */
.thumbnails {
	display: inline-block;
}

.sectionhead {
	border-bottom: solid 1px #F2B7A6;
	padding-top: 20px;
	text-align: left;
	text-transform: uppercase;
}

.thumbnails figure {
	margin: 0;
	padding: 5px;
	position: relative;
}

figcaption {
	text-align: left;
}

/* Tooltip */
.tooltip {
	display: inline-block;
	position: absolute;
	bottom: 24px;
}

.tooltip .tooltiptext {
	background-color: #9B3417;
	color: #F7D0BB;
	display: inline-block;
	font-size: 0.85em;
	visibility: hidden;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
