<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>!DOCTYPE Desserts</title>
	<link rel="stylesheet" href="../style/base.css" media="screen">
	<link rel="stylesheet" href="../style/aboutus.css" media="screen">
	<link rel="stylesheet" href="../style/printbase.css" media="print">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	<!--header-->
	<div id="top">
	<header>
		<div id="headcontainer">
			<!--Nav is within the header-->
			<div id="logo"></div>
			
				<div id="skip"> 
					<a href="#main" tabindex="1">Skip to content</a>
				</div>	
				<div id="logincart">
					<a href="signin.html">Sign In</a>
					<a href="cart.html">Cart</a>
				</div>
			
			
				<nav>
					<ul>
						<li>
							<a href="index.html">
								<div class="navbutton">
									<p>Home</p>
								</div>
							</a>
						</li>
						<li>
							<a href="aboutus.html">
								<div class="navbutton">
									<p>About Us</p>
								</div>
							</a>
						</li>
						<li>
							<a href="products.html">
								<div class="navbutton">
									<p>Products</p>
								</div>
							</a>
						</li>
						<li>
							<a href="catering.html">
								<div class="navbutton">
									<p>Catering</p>
								</div>
							</a>
						</li>
						<li>
							<a href="contact.html">
								<div class="navbutton">
									<p>Contact Us</p>
								</div>
							</a>
						</li>
					</ul>
				</nav>
				
			
			<!--Keep the "clear" div so all the floated divs stay in the header-->
			<div class="clear"></div>
		</div>
	</header>
	</div>
	
	<!--main content here-->
	<main id="main">
	<img id="printlogo" src="../images/whitelogo.png" alt="print logo" width="374" height="168">
		<h1>WELCOME!</h1>
		<div class="box1">
			<div class="image1">
				<img src= "../images/chocolatecake.jpg" alt="cake" width="200" height="150">
			</div>
			<div class="text1">
				<h3>Philosophy</h3>
				<p class="philosophy">
					Baking with passion! That is how we started the business. We make our products with love and an eye for detail - baked to perfection. We treat our freshly baked breads, cookies, and cakes meticulously with top quality ingredients: the freshest, finest, and ripest ingredients to ensure you have exceptional flavor on every bite.
				</p>
			</div>
		</div>
		<hr>
		<div class="box1">
			<div class="image2">
				<img src= "../images/chocolatecake.jpg" alt="old shop" width="200" height="150">
			</div>
			<div class="text2">
				<h3>History</h3>
				<p class="history"> 
					In 2007, Ryan and Eric unveiled !DOCTYPE Desserts by opening its doors to the Vancouver market at 1234 Bakery Lane. Ryan is a third generation baker, and his grandfather operated a bakery in Vancouver since 1925. Eric worked as a technical consultant for a bakery ingredient company before opening !DOCTYPE Desserts Bakery. Neda and Elizabeth joined them since 2008 to create the core four members of the the team. Together, Neda and Elizabeth- two world-famous bakers- bring a combined 20+ years of baking experience!
				</p>
			</div>
			<hr>
		</div>
			
		<div class="box1">
			<div class="image1" >
				<img src= "../images/chocolatecake.jpg" alt="cake" width="200" height="150">
			</div>
			<div class= "text1">
				<h3>Chef</h3>
				<p class="philosophy">
					Neda grew up in Iran, around a family that loved to cook, and she was introduced to the food industry at the age of 18. She ran a small bakery in Iran, but she moved to Canada in 2005. Finally, she joined the successful !DOCTYPE Desserts in 2008.<br><br>In 2000, Elizabeth completed her baking apprenticeship at Accent on Pastries in downtown Langley and went on to work in a number of Vancouver restaurants and bakeries before joining this team.
				</p>
			</div>
		</div>
		<hr>
                   <!--leave the id="top" somewhere so we have a back to top link-->
		<div>
			<p class="backup">
				<a href="#top">Back to top</a>
			</p>
		</div>
	</main>
	
	<!--footer-->
	<footer>
		<div class="footcontainer">
			<div>
				<table id="operation">					
					<tr>
						<th colspan="2">Hours of Operation <br> &nbsp; </th>
					</tr>
					<tr>
						<td>
							Mon - Fri
						</td>
						<td>
							8AM - 4PM
						</td>
					</tr>
					<tr>
						<td>
							Mon - Fri
						</td>
						<td>
							8AM - 4PM
						</td>
					</tr>
					<tr>
						<td>
							Holidays
						</td>
						<td>
							Closed
						</td>
					</tr>
				</table>
			</div>			
		<div id="sitemap">
			<div> 
				<b>Navigation links</b>
				<br>
				&nbsp; <br>
				<a href="index.html">Home</a>
				<br>
				<a href="aboutus.html">About</a>
				<br>
				<a href="products.html">Products</a>
				<br>
				<a href="catering.html">Catering</a>
				<br>
				<a href="contact.html">Contact</a>
			</div>
		</div>
			<div id="contactinfo">
				<div id="address">
					<b>Address</b>
					<br> &nbsp;
				</div>
				<div>
					1234 Bakery Lane<br>
					Vancouver, British Columbia<br>
					Canada V8W 5K9
				</div>
				<br>
				<div id="phone">
					<a href="tel:604-888-8888">(604)-888-8888</a>
				</div>			
			</div>
			<div class="fa">
				<a href="https://www.facebook.com" class="fa fa-facebook"></a>
				<a href="https://www.twitter.com" class="fa fa-twitter"></a>
				<a href="https://www.instagram.com" class="fa fa-pinterest"></a>
				<a href="https://www.pinterest.com" class="fa fa-instagram"></a>
			</div>
		</div>
	</footer>

</body>

</html>




