<!DOCTYPE html>
<html lang="en">
<head>
	<title>Shopping Cart</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../styles/cart.css">
<head>

<body>

	<!--header-->
	<header>
		<div id="skip">
			<p>
				<a href="#main">Skip to content</a>
			</p>
		</div>
		<div id="signin">
			<ul>
				<li>
					<a href="signin">Sign In</a>
				</li>
				<li>
					<a href="cart">Cart</a>
				</li>
			</ul>	
		</div>
		
		<!--Nav is within the header-->
		<nav>
			<div id="logo">
				<img src="../images/chocolatecake.jpg" alt="Logo" style="width:170px; height:70px;">
			</div>
			<a href="index.html">
				<div class="navbutton">
					<p>Home</p>
				</div>
			</a>
			<a href="about.html">
				<div class="navbutton">
					<p>About Us</p>
				</div>
			</a>
			<a href="products.html">
				<div class="navbutton">
					<p>Products</p>
				</div>
			</a>
			<a href="catering">
				<div class="navbutton">
					<p>Catering</p>
				</div>
			</a>
			<a href="contact">
				<div class="navbutton">
					<p>Contact Us</p>
				</div>
			</a>
		</nav>
	</header>
	
	




	<main>
	<div id="toprow">
		<div>
			<p>Shopping Cart </p>
		</div>
		<div>
			<img src="" alt="">
		</div>
	</div>
		<div id="cart">
			<div id="hrow">
				Item Price Quantity Subtotal
			</div>
			<br>
			
		<!-- ITEM(S) SEPARATOR COMMENT-->	
			<div id="irow">
				<div class="item">
				
					<div class="img">
						<img src="" alt="">
					</div>
					<div class="name">
						<h2>Item1Name</h2>
					</div>
					<div class="info">
						<p>ProductDescription</p>
					</div>
					<div class="pqi">
						<div class="price">
							<p>Price</p>
						</div>
						<div class="quantity">
							<p>Quantity</p>
						</div>
						<div class="itemtotal">
							<p>Item Total</p>
						</div>
					</div>
					
				</div>
				<br>
				<div class="item">
				
					<div class="img">
						<img src="" alt="">
					</div>
					<div class="name">
						<h2>Item2Name</h2>
					</div>
					<div class="info">
						<p>ProductDescription</p>
					</div>
					<div class="pqi">
						<div class="price">
							<p>Price</p>
						</div>
						<div class="quantity">
							<p>Quantity</p>
						</div>
						<div class="itemtotal">
							<p>Item Total</p>
						</div>
					</div>
					
				</div>
				<br>
				<div class="item">
				
					<div class="img">
						<img src="" alt="">
					</div>
					<div class="name">
						<h2>Item3Name</h2>
					</div>
					<div class="info">
						<p>ProductDescription</p>
					</div>
					<div class="pqi">
						<div class="price">
							<p>Price</p>
						</div>
						<div class="quantity">
							<p>Quantity</p>
						</div>
						<div class="itemtotal">
							<p>Item Total</p>
						</div>
					</div>
					
				</div>
				
			</div>
		<!-- ITEM(S) SEPARATOR COMMENT-->
		</div>
		
		
		<div id="checkout">
			<div id="order">
				<p>Subtotal </p>
				<p>Tax </p>
				<p id="pickup">Earliest pickup time: </p>				
				<p id="total">Total: </p>
			</div>
			<div id="finalize">
				<p>Checkout </p>
			</div>
		
		</div>
		
		<div class="btmfood">
			<img src="" alt="">
			<img src="" alt="">
			<img src="" alt="">
		</div>
		
		
		
		
		
	</main>
		
		<!--footer-->
	<footer>
		<table>
			<tr>
				<th colspan="2">Hours of Operation</th>
			</tr>
			<tr>
				<td>
					Sunday
				</td>
				<td>
					Hours etc
				</td>
			</tr>
			<tr>
				<td>
					Monday
				</td>
				<td>
					Hours etc
				</td>
			</tr>
			<tr>
				<td>
					Tuesday
				</td>
				<td>
					Hours etc
				</td>
			</tr>
			<tr>
				<td>
					Wednesday
				</td>
				<td>
					Hours etc
				</td>
			</tr>
			<tr>
				<td>
					Thursday
				</td>
				<td>
					Hours etc
				</td>
			</tr>
			<tr>
				<td>
					Friday
				</td>
				<td>
					Hours etc
				</td>
			</tr>
			<tr>
				<td>
					Saturday
				</td>
				<td>
					Hours etc
				</td>
			</tr>
		</table>
		
		<div id="contactinfo">
			<div id="address">
				1234 Bakery Lane
				<br>Vancouver, British Columbia
				<br>Canada V8W 5K9
			</div>
			<div id="phone">
				(604) 888-8888
			</div>
			<div id="socialmedia">
				social media here
			</div>
		</div>
		
		<div id="sitemap">
			<ul>
				<li>
					<a href="index.html">Home</a>
				</li>
				<li>
					<a href="about.html">About</a>
				</li>
				<li>
					<a href="products.html">Products</a>
				</li>
				<li>
					<a href="catering.html">Catering</a>
				</li>
				<li>
					<a href="contact.html">Contact</a>
				</li>
			</ul>
		</div>
		
	</footer>
		
	

</body>
</html>

