<!DOCTYPE html>
<html lang="en">
<head>
	<title>!DOCTYPE Desserts</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../style/base.css" media="screen">
	<link rel="stylesheet" href="../style/cart.css" media="screen">
	<link rel="stylesheet" href="../style/printbase.css" media="print">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<header>
	<div id="top">
	<div id="headcontainer">
		<!--Nav is within the header-->
		<div id="logo"></div>
		<div id="special">
			<div id="skip">
				<a href="#general" tabindex="1">Skip to content</a>
			</div>	
			<div id="logincart">
				<a href="signin.html">Sign In</a>
				<a href="cart.html">Cart</a>
			</div>
		</div>
		<div>
			<nav>
				<ul>
					<li>
						<a href="index.html">
							<div class="navbutton">
								<p>Home</p>
							</div>
						</a>
					</li>
					<li>
						<a href="aboutus.html">
							<div class="navbutton">
								<p>About Us</p>
							</div>
						</a>
					</li>
					<li>
						<a href="products.html">
							<div class="navbutton">
								<p>Products</p>
							</div>
						</a>
					</li>
					<li>
						<a href="catering.html">
							<div class="navbutton">
								<p>Catering</p>
							</div>
						</a>
					</li>
					<li>
						<a href="contact.html">
							<div class="navbutton">
								<p>Contact Us</p>
							</div>
						</a>
					</li>
				</ul>
			</nav>
		</div>
		
		<!--Keep the "clear" div so all the floated divs stay in the header-->
		<div class="clear"></div>
	</div>
	</div>
</header>
	
<main id="main">
	<img id="printlogo" src="../images/whitelogo.png" alt="print logo" width="374" height="168">
	<!--leave the id="top" somewhere so we have a  link-->
	<div id="toprow">
		<div id="shopcart">
			<p>Your shopping cart</p>
		</div>
		<div id="toppic">
		</div>
	</div>
	<div id="botrow">
		<div id="cart">
			<div id="detail">
				<p>Item</p>
			</div>
			<div class="pqi">				
				<span class="trspace">Price</span>
				<span class="trspace">Quantity</span>
				<span class="trspace">Subtotal</span>
			</div>
			<div class="clear"></div>
			<hr>
		<!-- ITEM(S) SEPARATOR COMMENT-->	
			<div id="irow">
				<!-- ITEM(S) -->
				<div class="product">
					<img src="../images/chocolatecake.jpg" alt="Blueberry & Strawberry Cupcake" width="145" height="109"> 
				</div>
				<div class="item">
					<span class="pname">Blueberry & Strawberry Cupcake</span>
					<div class="ppqi">
						<span class="pinfo">$1.00</span>
						<span class="pinfo">
							<select>
								<option value="0">Quantity</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
							</select>
						</span>
						<span class="pinfo">$10.00</span>
					</div>
				</div>
				<div class="clear"></div>
				<hr>
				<br>
				<!-- ITEM(S) -->
				<div class="product">
					<img src="../images/chocolatecake.jpg" alt="Brownies" width="145" height="109">
				</div>
				<div class="item">
					<span class="pname">Brownies</span>
					<div class="ppqi">
						<span class="pinfo">$2.00</span>
						<span class="pinfo">
							<select>
								<option value="0">Quantity</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
							</select>
						</span>
						<span class="pinfo">$20.00</span>
					</div>
				</div>
				<div class="clear"></div>
				<hr>
				<br>
				<!-- ITEM(S) -->
				<div class="product">
					<img src="../images/chocolatecake.jpg" alt="Mousse Cake" width="145" height="109">
				</div>
				<div class="item">
					<span class="pname">Mousse Cake</span>
					<div class="ppqi">
						<span class="pinfo">$1.00</span>
						<span class="pinfo">
							<select>
								<option value="0">Quantity</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
							</select>
						</span>
						<span class="pinfo">$5.00</span>
					</div>
				</div>
				<div class="clear"></div>
				<hr>
				<br>
				<!-- ITEM(S) -->
				<div class="product">
					<img src="../images/chocolatecake.jpg" alt="Rose cookie" width="145" height="109">
				</div>
				<div class="item">
					<span class="pname">Rose cookie</span>
					<div class="ppqi">
						<span class="pinfo">$25.00</span>
						<span class="pinfo">
							<select>
								<option value="0">Quantity</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
							</select>
						</span>
						<span class="pinfo">$25.00</span>
					</div>
				</div>
				<div class="clear"></div>
				<hr>
				<br>
				<!-- ITEM(S) -->
			</div>
		<!-- ITEM(S) SEPARATOR COMMENT-->
		</div>
		
		<div id="rightcont">
			<div id="checkout">
				<div id="receipt">Your receipt </div>
				<div class="extraspace"></div>
				<div id="order">
					<p><span class="leftside">Subtotal:</span><span class="rightside">$24.99</span></p>
					<p><span class="leftside">Tax: </span><span class="rightside">$3.75</span></p>
					<p><span class="leftside">Pickup time: </span><span class="rightside">Feb. 14th</span></p>				
					<p><span class="leftside">Total: </span><span class="rightside">$28.74</span></p>
					<div class="extraspace"></div>
					<div><span class="discount">Receive 20% off your purchase!</span></div>
				</div>
				
				<form class="cart" action="http://webdevfoundations.net/scripts/formdemo.asp" method="post">
					<div class="finalize"><input id="submit" type="submit" accesskey="S" value="CHECKOUT"></div>
				</form>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<div>
		<p class="backup">
			<a href="#top">Back to top</a>
		</p>
	</div>
</main>
	
<footer>
	<div class="footcontainer">
		<div>
			<table id="operation">					
				<tr>
					<th colspan="2">Hours of Operation <br> &nbsp; </th>
				</tr>
				<tr>
					<td>
						Mon - Fri
					</td>
					<td>
						8AM - 4PM
					</td>
				</tr>
				<tr>
					<td>
						Sat - Sun
					</td>
					<td>
						10AM - 3PM
					</td>
				</tr>
				<tr>
					<td>
						Holidays
					</td>
					<td>
						Closed
					</td>
				</tr>
			</table>
		</div>			
		<div id="sitemap">
			<div> 
				<b>Navigation links</b>
				&nbsp; <br> <br>
				<a href="index.html">Home</a>
				<br>
				<a href="aboutus.html">About</a>
				<br>
				<a href="products.html">Products</a>
				<br>
				<a href="catering.html">Catering</a>
				<br>
				<a href="contact.html">Contact</a>
			</div>
		</div>
		<div id="contactinfo">
			<div id="address">
				<b>Address</b>
				<br> &nbsp;
			</div>
			<div>
				1234 Bakery Lane<br>
				Vancouver, British Columbia<br>
				Canada V8W 5K9
			</div>
			<br>
			<div id="phone">
				<a href="tel:604-888-8888">(604)-888-8888</a>
			</div>			
		</div>
		<div class="fa">
			<a href="https://www.facebook.com" class="fa fa-facebook"></a>
			<a href="https://www.twitter.com" class="fa fa-twitter"></a>
			<a href="https://www.instagram.com" class="fa fa-pinterest"></a>
			<a href="https://www.pinterest.com" class="fa fa-instagram"></a>
		</div>
	</div>
</footer>
	
</body>
</html>
