<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>!DOCTYPE Desserts</title>
	<link rel="stylesheet" href="../style/base.css" media="screen">
	<link rel="stylesheet" href="../style/catering.css" media="screen">
	<link rel="stylesheet" href="../style/form.css" media="screen">
	<link rel="stylesheet" href="../style/printbase.css" media="print">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="../javascript/catering.js"></script>

	<!-- Widgets -->
	
	<!-- Datepicker -->
	<link rel="stylesheet" href="../widgets/datepicker/jquery-ui.css">
	<script src="../widgets/datepicker/external/jquery/jquery.js"></script>
	<script src="../widgets/datepicker/jquery-ui.js"></script>
	
	<!-- Wickedpicker -->
	<link rel="stylesheet" href="../widgets/wickedpicker/stylesheets/wickedpicker.css">
	<script src="../widgets/wickedpicker/src/wickedpicker.js"></script>
</head>

<body>
	<!--header-->
	<div id="top">
		<header>
			<div id="headcontainer">
				<!--Nav is within the header-->
				<a href="index.html"><div id="logo"></div></a>
					<div id="logincart">
						<a href="signin.html">Sign In</a>
						<a href="cart.html">Cart</a>
					</div>
				<nav>
					<ul>
						<li>
							<a href="aboutus.html">
								<div class="navbutton">
									<p>About Us</p>
								</div>
							</a>
						</li>
						<li>
							<a href="products.html">
								<div class="navbutton">
									<p>Products</p>
								</div>
							</a>
						</li>
						<li>
							<a href="catering.html">
								<div class="navbutton">
									<p>Catering</p>
								</div>
							</a>
						</li>
						<li>
							<a href="testimonials.html">
								<div class="navbutton">
									<p>Testimonials</p>
								</div>
							</a>
						</li>
						<li>
							<a href="contact.html">
								<div class="navbutton">
									<p>Contact Us</p>
								</div>
							</a>
						</li>
					</ul>
				</nav>
				
				<!--Keep the "clear" div so all the floated divs stay in the header-->
				<div class="clear"></div>
			</div>
		</header>
		
		<!--main content here-->
		<main id="main">
			<img id="printlogo" src="../images/whitelogo.png" alt="print logo" width="374" height="168">
			<div id="wrapper">
				<div id="info">
					<h1>
						Catering Form
					</h1>
					<p>
						We can accommodate all types of functions that require sweets! Please provide at least 2 weeks notice and a minimum of 50 guests. 
					<br><br>All fields marked with an <span class="required">*</span> are required.
					</p>
				</div>
				<form id="cateringForm" action="http://webdevfoundations.net/scripts/formdemo.asp" method="post" onsubmit="return validCatering()">
					<fieldset>					
						<h2>
							Contact Information
						</h2>
						<ul>
							<li>
								<label for="txtFirstName">
									First Name<span class="required">*</span><br>
								</label>
								<input 
									type="text" 
									id="txtFirstName" 
									name="fname" 
									placeholder="First name"
									onblur="warnInvalidName('txtFirstName')">
							</li>
							<li id="errFirstName" class="errorMessage"></li>
							<li>
								<label for="txtLastName">
									<br>Last Name <span class="required">*</span><br>
								</label>
								<input 
									type="text" 
									id="txtLastName" 
									name="lname" 
									placeholder="Last name"
									onblur="warnInvalidName('txtLastName')">
							</li>
							<li id="errLastName" class="errorMessage"></li>
							<li>
								<div>
									<br>Contact Number <span class="required">*</span><br>
								</div>
								<input 
									type="number" 
									class="tel"
									id="numPhone_0"
									name="tel1" 
									placeholder="###"
									onblur="warnInvalidPhone01('numPhone_0')"> -
								<input 
									type="number" 
									class="tel" 
									id="numPhone_1"
									name="tel2" 
									placeholder="###"
									onblur="warnInvalidPhone01('numPhone_1')"> -
								<input 
									type="number" 
									class="tel" 
									id="numPhone_2"
									name="tel3" 
									placeholder="####"
									onblur="warnInvalidPhone2('numPhone_2')">
							</li>
							<li id="errPhone" class="errorMessage"></li>
							<li>
								<label for="txtEmail">
									<br>Email <span class="required">*</span><br>
								</label>
								<input 
									type="text" 
									id="txtEmail" 
									name="email" 
									placeholder="name@domain.com"
									onblur="warnInvalidEmail('txtEmail')">
							</li>
							<li id="errEmail" class="errorMessage"></li>
						</ul>
					</fieldset>
					<fieldset>
						<h2>
							Event Information
						</h2>
						<ul>
							<li>
								<label for="txtOrganization">
									Organization<br>
								</label>
								<input 
									type="text" 
									id="txtOrganization" 
									name="organization" 
									placeholder="Organization">
							</li>
							<li>
								<label for="txtAddress">
									<br>Address <span class="required">*</span><br>
								</label>
								<input 
									type="text" 
									id="txtAddress" 
									name="inputaddress" 
									placeholder="Address"
									onblur="warnInvalidAddress('txtAddress')">
							</li>
							<li id="errAddress" class="errorMessage"></li>
							<li>
								<label for="txtDate">
									<br>Date of Event <span class="required">*</span><br>
								</label>
								<input 
									type="text" 
									id="txtDate" 
									name="date"
									placeholder="MM/DD/YYYY"
									onchange="warnInvalidDate('txtDate')">
							</li>
							<li id="errDate" class="errorMessage"></li>
							<li>
								<label for="txtStartTime">
									<br>Start Time <span class="required">*</span><br>
								</label>
								<input 
									type="text" 
									id="txtStartTime" 
									name="start"
									placeholder="H : MM TT"
									onchange="warnInvalidStartTime()">
							</li>
							<li id="errStartTime" class="errorMessage"></li>
							<li>
								<label for="txtEndTime">
									<br>End Time <span class="required">*</span><br>
								</label>
								<input 
									type="text" 
									id="txtEndTime" 
									name="end"
									placeholder="H : MM TT"
									onchange="warnInvalidEndTime()">
							</li>
							<li id="errEndTime" class="errorMessage"></li>
						</ul>
					</fieldset>
					<fieldset>
						<h2>
							Order Form
						</h2>
						<ul>
							<li>
								<label for="lstFunction">
									Type of Function <span class="required">*</span><br>
								</label>
								<input 
									type="text" 
									id="lstFunction" 
									name="function" 
									placeholder="Function"
									onblur="warnInvalidName('lstFunction')">
										<datalist id="functions">
											<option value="Birthday">
											<option value="Corporate">
											<option value="Social">
											<option value="Wedding">
										</datalist>
							</li>
							<li id="errFunction" class="errorMessage"></li>
							<li>
								<label for="numGuests">
									<br>Number of Guests <span class="required">*</span><br>
								</label>
								<input 
									type="number" 
									id="numGuests" 
									name="guests" 
									placeholder="Number of Guests"
									onblur="warnInvalidGuests('numGuests')">
							</li>
							<li id="errGuests" class="errorMessage"></li>
							<li>
								<div id="desired">
									<br>Desired Product(s):<br>
									Macarons
										<input 
											type="checkbox" 
											id="chkMacarons" 
											name="macarons" 
											value="yes">
									Desserts
										<input 
											type="checkbox" 
											id="chkDesserts" 
											name="desserts" 
											value="yes">
									Cakes
										<input 
											type="checkbox" 
											id="chkCakes" 
											name="cakes" 
											value="yes">
								</div>
							</li>
							<li>
								<label for="taAllergies">
									<br>Dietary Restrictions<br>
								</label>
								<textarea 
									id="taAllergies" 
									name="allergies" 
									placeholder="Enter your allergies here."
									cols="41" 
									rows="4"></textarea>
							</li>
							<li>
								<label for="taComments">
								<br>Additional Information<br>
								</label>
								<textarea 
									name="comments" 
									id="taComments" 
									placeholder="Enter your comments here."
									cols="41" 
									rows="4"></textarea>
							</li>
							<br>
							<li>
								<input 
									type="submit" 
									class="submit"
									name="submit"							
									accesskey="S"
									value="Submit">
							</li>
							<li id="errCatering" class="errorMessage"></li>
						</ul>
					</fieldset>
				</form>
			</div>
			<!--leave the id="top" somewhere so we have a back to top link-->
			<p class="backup">
				<a href="#top">Back to top</a>
			</p>
		</main>
	</div>
	
	<!--footer-->
	<footer>
		<div class="footcontainer">
			<div>
				<table id="operation">					
					<tr>
						<th colspan="2">Hours of Operation <br> &nbsp; </th>
					</tr>
					<tr>
						<td>
							Mon - Fri
						</td>
						<td>
							8AM - 4PM
						</td>
					</tr>
					<tr>
						<td>
							Sat - Sun
						</td>
						<td>
							10AM - 3PM
						</td>
					</tr>
					<tr>
						<td>
							Holidays
						</td>
						<td>
							Closed
						</td>
					</tr>
				</table>
			</div>			
		<div id="sitemap">
			<div> 
				<b>Navigation links</b>
				<br>
				&nbsp; <br>
				<a href="index.html">Home</a>
				<br>
				<a href="aboutus.html">About</a>
				<br>
				<a href="products.html">Products</a>
				<br>
				<a href="catering.html">Catering</a>
				<br>
				<a href="testimonials.html">Testimonials</a>
				<br>
				<a href="contact.html">Contact</a>
			</div>
		</div>
			<div id="contactinfo">
				<div id="address">
					<b>Address</b>
					<br> &nbsp;
				</div>
				<div>
					1234 Bakery Lane<br>
					Vancouver, British Columbia<br>
					Canada V8W 5K9
				</div>
				<br>
				<div id="phone">
					<a href="tel:604-888-8888">(604)-888-8888</a>
				</div>			
			</div>
			<div class="fa">
				<a href="https://www.facebook.com" class="fa fa-facebook"></a>
				<a href="https://www.twitter.com" class="fa fa-twitter"></a>
				<a href="https://www.instagram.com" class="fa fa-pinterest"></a>
				<a href="https://www.pinterest.com" class="fa fa-instagram"></a>
			</div>
		</div>
	</footer>

	<!-- Widgets -->
	<script>
	var $j = jQuery.noConflict();
	
	$j( function() {
		$j( "#txtDate" ).datepicker();
	} );
	
	$j('#txtStartTime').wickedpicker();
	$j('#txtEndTime').wickedpicker();
	</script>
	
</body>

</html>













