<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>!DOCTYPE Desserts</title>
	<link rel="stylesheet" href="../style/base.css" media="screen">
	<link rel="stylesheet" href="../style/contact.css" media="screen">
	<link rel="stylesheet" href="../style/printbase.css" media="print">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	<!--header-->
	<div id="top">
		<header>
			<div id="headcontainer">
				<!--Nav is within the header-->
				<div id="logo"></div>
				
					<div id="skip"> 
						<a href="#main" tabindex="1">Skip to content</a>
					</div>	
					<div id="logincart">
						<a href="signin.html">Sign In</a>
						<a href="cart.html">Cart</a>
					</div>
				<nav>
					<ul>
						<li>
							<a href="index.html">
								<div class="navbutton">
									<p>Home</p>
								</div>
							</a>
						</li>
						<li>
							<a href="aboutus.html">
								<div class="navbutton">
									<p>About Us</p>
								</div>
							</a>
						</li>
						<li>
							<a href="products.html">
								<div class="navbutton">
									<p>Products</p>
								</div>
							</a>
						</li>
						<li>
							<a href="catering.html">
								<div class="navbutton">
									<p>Catering</p>
								</div>
							</a>
						</li>
						<li>
							<a href="contact.html">
								<div class="navbutton">
									<p>Contact Us</p>
								</div>
							</a>
						</li>
					</ul>
				</nav>
				
				<!--Keep the "clear" div so all the floated divs stay in the header-->
				<div class="clear"></div>
			</div>
		</header>
		
		<!--main content here-->
		<main id="main">
			<img id="printlogo" src="../images/whitelogo.png" alt="print logo" width="374" height="168">
			<div id="fullcontainer">
				<div class="container1">
					<h2>
						Location
					</h2>
					<div id="map"><img src="../images/map.png" alt="map" width="303" height="302"></div>
					<div id="location">
						1234 Bakery Lane
						<br>Vancouver, British Columbia
						<br>Canada V8W 5K9
					</div>
				</div>
				<div class="container2">
				<h2>
					Feedback
				</h2>
				<form action="http://webdevfoundations.net/scripts/formdemo.asp" method="post">
					<fieldset>
						<ul>
							<li>
								<label for="fname">
									Full Name<span class="required">*</span><br>
								</label>
								<input 
									type="text" 
									id="fname" 
									name="fname" 
									placeholder="First and last name" 
									required="required" 
									pattern="[a-zA-Z\s]{1,}" 
									title="First name cannot contain any numbers, symbols or spaces. e.g. John, john">
							</li>
							<li>
								<label for="email">
									<br>Email <span class="required">*</span><br>
								</label>
								<input 
									type="email" 
									id="email" 
									name="email" 
									placeholder="name@domain.com"
									required="required">
							</li>
							<li>
								<label for="feedback">
								<br>Feedback <span class="required">*</span><br>
								</label>
								<textarea 
									name="feedback" 
									id="feedback" 
									placeholder="Enter your comments here."
									required="required"
									cols="41" 
									rows="4"></textarea>
							</li>
						</ul>
							<div id="submit">
								<br><input type="submit" accesskey="S">
							</div>
					</fieldset>
				</form>
				</div>
				<!--leave the id="top" somewhere so we have a back to top link-->
				<p class="backup">
					<a href="#top">Back to top</a>
				</p>
			</div>
		</main>
	</div>
	
	<!--footer-->
	<footer>
		<div class="footcontainer">
			<div>
				<table id="operation">					
					<tr>
						<th colspan="2">Hours of Operation <br> &nbsp; </th>
					</tr>
					<tr>
						<td>
							Mon - Fri
						</td>
						<td>
							8AM - 4PM
						</td>
					</tr>
					<tr>
						<td>
							Mon - Fri
						</td>
						<td>
							8AM - 4PM
						</td>
					</tr>
					<tr>
						<td>
							Holidays
						</td>
						<td>
							Closed
						</td>
					</tr>
				</table>
			</div>			
			<div id="sitemap">
				<div> 
					<b>Navigation links</b>
					<br> &nbsp; 
				</div>
				<div>
					<a href="index.html">Home</a>
				</div>
				<div>
					<a href="aboutus.html">About</a>
				</div>
				<div>
					<a href="products.html">Products</a>
				</div>
				<div>
					<a href="catering.html">Catering</a>
				</div>
				<div>
					<a href="contact.html">Contact</a>
				</div>
			</div>
			<div id="contactinfo">
				<div id="address">
					<b>Address</b>
					<br> &nbsp;
				</div>
				<div>
					1234 Bakery Lane<br>
					Vancouver, British Columbia<br>
					Canada V8W 5K9
				</div>
				<br>
				<div id="phone">
					<a href="tel:604-888-8888">(604)-888-8888</a>
				</div>			
			</div>
			<div class="fa">
				<a href="https://www.facebook.com" class="fa fa-facebook"></a>
				<a href="https://www.twitter.com" class="fa fa-twitter"></a>
				<a href="https://www.instagram.com" class="fa fa-pinterest"></a>
				<a href="https://www.pinterest.com" class="fa fa-instagram"></a>
			</div>
		</div>
	</footer>
</body>
</html>












