<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Madeleine's</title>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
	<link rel="stylesheet" href="../style/index.css" media="screen">
	<link rel="stylesheet" href="../style/printbase.css" media="print">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script>
	<!--
		$.noConflict();
	//-->
	</script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Italianno">	
	<script src="../javascript/backtop.js"></script>
	<link rel="stylesheet" href="../style/base.css" media="screen">
</head>

<body>
	<header>
		<nav>
			<div id="logo">
				<a href="index.html"><img src="../images/logo.png" alt="Madeleine's"></a>
				<a href="index.html"><img src="../images/cake.png" alt="cake"></a>
			</div>
			<div id="navbar">
				<ul>
					<li>
						<a href="aboutus.html">About Us</a>
					</li>
					<li>
						<a href="products.html">Products</a>
					</li>
					<li>
						<a href="catering.html">Catering</a>
					</li>
					<li>
						<a href="testimonials.html">Reviews</a>
					</li>
					<li>
						<a href="contact.html">Contact Us</a>
					</li>
				</ul>
			</div>
			<div id="navshop">
				<a href="cart.html" class="fa fa-shopping-cart fa-2x"></a>
				<a href="signin.html" class="fa fa-user-circle fa-2x"></a>	
			</div>
		</nav>
		<!--Keep the "clear" div so all the floated divs stay in the header-->
		<div class="clear"></div>
	</header>
	<!--main content here-->
	<main id="main">
		<img id="printlogo" src="../images/whitelogo.png" alt="print logo" width="374" height="168">
		<a href="#" class="backup fa fa-chevron-circle-up fa-5x"></a>
		<div id="slideshow">
			<div class="w3-display-container">
			  <img class="mySlides" src="../images/slideshow/cupcakes.jpg" alt="Cupcake Slideshow" width="2048" height="961">
			  <img class="mySlides" src="../images/slideshow/fruitcake.jpg" alt="Fruitcake Slideshow" width="2048" height="961">
			  <img class="mySlides" src="../images/slideshow/macarons.jpg" alt="Macarons Slideshow" width="2048" height="961">
			  <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
				<div id="goleft" class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
				<div id="goright" class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
				<span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
				<span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
				<span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
			  </div>
			</div>
		</div>
		<script src="../javascript/index.js"></script>
		
		<div id="content">
			<div class="subBanner">
				<div class="leftbox">
					<div class="promos"><p>Latest Event</p></div>
					<img id="epic1" src="../images/eventslices.jpg" alt="slice">
					<div class="overlay">
						<div class="text">
							<h2>
								Happy Valentines Day!
							</h2>
							<time datetime="2017-02-14">
								February 14, 2017
							</time>
							<p>
								It's that wonderful time of the year again!
							</p>
							<p>
								 We want to help you celebrate over some delicious desserts! Visit out products page and enjoy a 20% discount on <strong>all</strong> items at check-out.
							</p>
						</div>
					</div>
				</div>
				<div class="midbox">
					<div class="promos"><p>Dessert Sales</p></div>
					<img id="epic2" src="../images/eventcups.jpg" alt="cupcakes">
					<div class="overlay">
						<div class="text">
							<h2>
								Macaron Week!
							</h2>
							<time datetime="2017-03-22">
								March 22, 2017
							</time>	
							<p>
								Our macaron selection continues to grow as we experiment with seasonal flavors. We have just updated our current selection, so be sure to visit our products page! We are selling <strong>all</strong> macarons at 25% discount!
							</p>
						</div>
					</div>
				</div>
				<div class="rightbox">
					<div class="promos"><p>Special Events</p></div>
					<img id="epic3" src="../images/eventcakes.jpg" alt="cakes">
					<div class="overlay">	
						<div class="text">
							<h2>
								10th Anniversary!
							</h2>
							<time datetime="2017-01-30">
								January 30, 2017
							</time>
							<p>
								Madeleine's is celebrating its 10th Anniversary! We would like to show our appreciation by giving 20% discount to everyone! 
							</p>
							<p>
								Thank you Vancouver for your continued support!
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	
	<!--footer-->
	<footer>
		<div class="footbox0">
			<div id="info">
				<div id="hours">
					Weekdays 8 - 4 | Weekends 10 - 3  <br>
					<a href="tel:6048888888">(604) 888 - 8888</a>
				</div>
				<div id="slogan">
					- A little bliss in every bite -
				</div>
				<div id="address">
					1234 Bakery Lane Vancouver <br>
					B.C. Canada V8W 5K9
				</div>
			</div>
		</div>
		<div class="footbox1">
			<div id="anchor">
				<div id="links"> 
					<a href="aboutus.html" id="aboutus">About Us</a> |
					<a href="products.html">Products</a> |
					<a href="catering.html">Catering</a> |
					<a href="testimonials.html">Reviews</a> |
					<a href="contact.html">Contact Us</a>
				</div>
				<div id="logo2">
					<a href="index.html"><img id="translogo" src="../images/translogo.png" alt="logo"></a>
				</div>
				<div id="sm">
					<a href="https://www.facebook.com" class="fa fa-facebook fa-2x" id="fb"></a>
					<a href="https://www.twitter.com" class="fa fa-twitter fa-2x"></a>
					<a href="https://www.instagram.com" class="fa fa-pinterest fa-2x"></a>
					<a href="https://www.pinterest.com" class="fa fa-instagram fa-2x"></a>
				</div>
			</div>
		</div>
		<div class="footbox2">
			<div id="copyr">
				Copyright &copy; Madeleine's, All Rights Reserved
			</div>
		</div>
	</footer>
</body>

</html>