<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>!DOCTYPE Desserts</title>
	<link rel="stylesheet" href="../style/base.css" media="screen">
	<link rel="stylesheet" href="../style/index.css" media="screen">
	<link rel="stylesheet" href="../style/printbase.css" media="print">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
</head>

<body>
	<div id="top"></div>
	<!--header--><header>
		<div id="headcontainer">
			<nav>
				<ul>
					<li>
						<a href="index.html">
							<div id="logo"></div>
						</a>
					</li>
					<li>
						<a href="aboutus.html">
							<div class="navlink">
								<p>About Us</p>
							</div>
						</a>
					</li>
					<li>
						<a href="products.html">
							<div class="navlink">
								<p>Products</p>
							</div>
						</a>
					</li>
					<li>
						<a href="catering.html">
							<div class="navlink">
								<p>Catering</p>
							</div>
						</a>
					</li>
					<li>
						<a href="testimonials.html">
							<div class="navlink">
								<p>Testimonials</p>
							</div>
						</a>
					</li>
					<li>
						<a href="contact.html">
							<div class="navlink">
								<p>Contact Us</p>
							</div>
						</a>
					</li>
					<li>
						<a href="cart.html">
							<div class="navshop">
								<p>Cart</p>
							</div>
						</a>
					</li>
					<li>
						<a href="signin.html">
							<div class="navshop">
								<p>Sign In</p>
							</div>
						</a>
					</li>
				</ul>
			</nav>
			<!--Keep the "clear" div so all the floated divs stay in the header-->
			<div class="clear"></div>
		</div>
	</header>
	<!--main content here-->
	<main id="main">
		<img id="printlogo" src="../images/whitelogo.png" alt="print logo" width="374" height="168">
		<div class="fotorama" data-autoplay="true">
			<img src="../images/Slideshow/cupcakes.jpg" alt="cupcakes" height="961" width="2048">
			<img src="../images/Slideshow/fruitcake.jpg" alt="fruitcake" height="961" width="2048">
			<img src="../images/Slideshow/macarons.jpg" alt="macarons" height="961" width="2048">
		</div>
		<div id="content">
			<img src="../images/valentines.jpg" alt="macarons2" height="240" width="210">
			<div class="event">
				<h2>
					Happy Valentines Day!
				</h2>
				<time datetime="2017-02-14">
					February 14, 2017
				</time>
				<p>
					It's that wonderful time of the year again!
				</p>
				<p>
					 Whether you are spending this day with your significant other, family or friends, we want to help you celebrate over some delicious desserts. Visit out products page and enjoy a 20% discount on <strong>all</strong> items at check-out.
				</p>		
			</div>
			<hr>
			<img src="../images/macarons2.jpg" alt="macarons2" height="240" width="210">
			<div class="event">
				<h2>
					Macaron Week!
				</h2>
				<time datetime="2017-02-06">
					February 6, 2017
				</time>
				<p>
					This week only, we are selling <strong>all</strong> macarons at 25% discount! 
				</p>	
				<p>
					Our macaron selection continues to grow as we experiment with seasonal flavors. We have just updated our current selection, so be sure to visit our products page!
				</p>
			</div>
			<hr>
			<img src="../images/anniversary.jpg" alt="macarons2" height="240" width="210">
			<div class="event">
				<h2>
					Celebrating our 10th Anniversary!
				</h2>
				<time datetime="2017-01-30">
					January 30, 2017
				</time>
				<p>
					We're so excited to announce that !DOCTYPE Desserts is celebrating its 10th Anniversary. We first started this patisserie as a small group of four hopeful bakers. Ten years later, our family has grown to 100+ members (past and present). We would like to show our appreciation by giving 20% discount to everyone! 
				</p>
				<p>
					Thank you Vancouver for your continued support!
				</p>
			</div>
		</div>
		<!--leave the id="top" somewhere so we have a back to top link-->
		<p class="backup">
			<a href="#top">Back to top</a>
		</p>
	</main>
	
	<!--footer-->
	<footer>
		<div class="footcontainer">
			<div id="hours">
				<table>					
					<tr>
						<th colspan="2">
							HOURS <br> &nbsp; 
						</th>
					</tr>
					<tr>
						<td>
							Mon - Fri
						</td>
						<td>
							8AM - 4PM
						</td>
					</tr>
					<tr>
						<td>
							Sat - Sun
						</td>
						<td>
							10AM - 3PM
						</td>
					</tr>
					<tr>
						<td>
							Holidays
						</td>
						<td>
							Closed
						</td>
					</tr>
				</table>
			</div>			
			<div id="sitemap">
				<table>
					<tr>
						<th>
							LINKS <br> &nbsp;
						</th>
					</tr>
					<tr>
						<td>
							<a href="index.html">Home</a><br>
						</td>
					</tr>
					<tr>
						<td>
							<a href="products.html">Products</a><br>
						</td>
					</tr>
					<tr>
						<td>
							<a href="products.html">Products</a><br>
						</td>
					</tr>
					<tr>
						<td>
							<a href="catering.html">Catering</a><br>
						</td>
					</tr>
					<tr>
						<td>
							<a href="testimonials.html">Testimonials</a><br>		
						</td>
					</tr>
					<tr>
						<td>
							<a href="contact.html">Contact</a><br>
						</td>
					</tr>
				</table>
			</div>
			<div id="contactinfo">				
				<table>
					<tr id="address">
						<th>
							<b>ADDRESS</b> <br> &nbsp;
						</th>
					</tr>
					<tr>
						<td>
							<a href="./contact.html">
								<div>
								1234 Bakery Lane<br>
								Vancouver, British Columbia<br>
								Canada V8W 5K9
								</div>
							</a>
						</td>
					</tr>
					<tr>
						<td id="phone">
							<a href="tel:604-888-8888">(604)-888-8888</a><br>
						</td>
					</tr>
				</table>
			</div>
			<div class="fa">
				<table id="follow">
					<tr>
						<th colspan="2">
							CONNECT <br> &nbsp;
						</th>
					</tr>
					<tr>
						<td>
							<a href="https://www.facebook.com" class="fa fa-facebook"></a>
						</td>
						<td>
							Facebook
						</td>
					</tr>
					<tr>
						<td>
							<a href="https://www.twitter.com" class="fa fa-twitter"></a>
						</td>
						<td>
							Twitter
						</td>
					</tr>
					<tr>
						<td>
							<a href="https://www.instagram.com" class="fa fa-pinterest"></a>
						</td>
						<td>
							Pinterest
						</td>
					</tr>
					<tr>
						<td>
							<a href="https://www.pinterest.com" class="fa fa-instagram"></a>
						</td>
						<td>
							Instagram						
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div  id="copyr">
			<hr>
			<p>
				Copyright &copy; Madeleine's, All rights reserved.
			</p>
		</div>
	</footer>
</body>

</html>