<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>!DOCTYPE Desserts</title>
	<link rel="stylesheet" href="../style/popup.css" media="screen">
	<link rel="stylesheet" href="../style/printbase.css" media="print">
</head>

<body>

<main>
	<div class="lcol">
		<h3>Strawberry cupcake</h3>
		<img src="../images/products/cupcakes3.jpg" alt="Cupcake" width="150" height="112">
		<hr>
		<p>
			Allergens: <br> <br> <img src="../images/icons/egg.png" alt="Contains eggs" height="50" width="50">
		</p>
	</div>
	<div class="rcol">
		<p id="detail">An elegant, fluffy strawberry cupcake with deliciously sweet blueberry icing powdered with cinnamon and sprinkled with fun! Scrumptious for everyone and a beautiful treat for your parents, grandparents, siblings and friends!</p>
		<hr>
		<p>
			Sweetness factor:  
			<img src="../images/sweet.png" alt="+1 rating" width="25" height="25">
			<img src="../images/sweet.png" alt="+1 rating" width="25" height="25">
			<img src="../images/sweet.png" alt="+1 rating" width="25" height="25">
		</p>
		<p>
			Nutritional Facts per Cupcake: <br> Calories: 300<br> Total Fat: 15% <br> Calcium: 25% <br> Carbohydrates: 14%
		</p>
		<div class="add">
			<form id="amount" action="http://webdevfoundations.net/scripts/formdemo.asp" method="post">
				<label for="myChoice">How many would you like? </label>
				<input type="number" name="myChoice" id="myChoice" min="1" max="99">
			<div id="tocart">
				<div class="finalize"><input id="submit" type="submit" accesskey="S" value="Add to Cart"></div>
			</div>
			</form>
		</div>
	</div>

</main>

</body>

</html>












