<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>!DOCTYPE Desserts</title>
	<link rel="stylesheet" href="../style/printbase.css" media="print">
	<link rel="stylesheet" href="../style/form.css" media="screen">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<script src="../javascript/popup.js"></script>
	<link rel="stylesheet" href="../style/popup.css" media="screen">
</head>

<body>

<main>
	<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
	<img id="printlogo" src="../images/whitelogo.png" alt="print logo" width="374" height="168">
						
		<!-- Modal -->
	<div id="myModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<div class="mcontent">
					<div class="lcol">
						<img src="../images/products/cupcakes3.jpg" alt="Cupcake" width="150" height="112">
						<h3>Strawberry cupcake</h3>
						<hr>
						<p>
							Allergens: <br> <br> <img src="../images/icons/egg.png" alt="Contains eggs" height="50" width="50">
						</p>
					</div>
					<div class="rcol">
						<hr>
						<p id="detail">An elegant, fluffy strawberry cupcake with deliciously sweet blueberry icing powdered with cinnamon and sprinkled with fun! 
						Scrumptious for everyone and a beautiful treat for your parents, grandparents, siblings and friends!</p>
						<hr>
						<p>
							Sweetness factor:  
							<img src="../images/sweet.png" alt="+1 rating" width="25" height="25">
							<img src="../images/sweet.png" alt="+1 rating" width="25" height="25">
							<img src="../images/sweet.png" alt="+1 rating" width="25" height="25">
						</p>	
						<br>
						<table class="facts">
							<caption>Nutritional Facts per Cupcake:</caption>
							<tr>
								<td>Calories:</td>
								<td>300</td>
							</tr>
							<tr>
								<td>Total Fat:</td>
								<td>5%</td>
							</tr>
							<tr>
								<td>Calcium:</td>
								<td>25%</td>
							</tr>
							<tr>
								<td>Carbohydrates:</td>
								<td>14%</td>
							</tr>
						</table>
						<div class="add">
							<form id="amount" action="http://webdevfoundations.net/scripts/formdemo.asp" method="post" onsubmit="return validPopUp('txtQuantity')">
								<br> <label for="txtQuantity">How many would you like? </label> <br>
								<input type="text" name="txtQuantity" id="txtQuantity" onblur="warnInvalidQuantity('txtQuantity')">
							<div id="tocart">
								<input id="submit" type="submit" accesskey="S" value="Add to Cart">
							</div>
							<p id="errQuantity" class="errorMessage"></p>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

</body>

</html>












