<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>
		The most amazing patisserie!
	</title>
	<link rel="stylesheet" href="Styles/base.css">	
	<style>
	td { border: solid 2px #FF00FF;
		padding: 0;
		background-color: #FFFFFF;
		display: inline-block;}

	</style>
</head>

<body>

	<header>
		<div id="image" style="height:80px; width: 180px; border: solid 2px;">
		</div>
		<div id="signin" style="height: 50px; width: 100px; border: solid 2px;">
		</div>
	</header>
	<nav>
		<ul>
			<li>
				<a href="index.html">Home</a>
			</li>
			<li>
				<a href="about.html">About Us</a>
			</li>
			<li>
				<a href="products">Products</a>
			</li>
			<li>
				<a href="catering">Catering</a>
			</li>
			<li>
				<a href="contact.html">Contact Us</a>
			</li>
	</nav>
	<main>
	<div id="top" style="border: solid 2px;">
	
		<div id="filter">
			<ul>
				<li>
					<a href="#cakes">Cakes</a>
				</li>
				<li>
					<a href="#cookies">Cookies</a>
				</li>
				<li>
					<a href="#brownies">Brownies</a>
				</li>
				<li>
					<a href="#cupcakes">Cupcakes</a>
				</li>
				<li>
					<a href="#pastries">Pastries</a>
				</li>
				<li>
					<a href="#donuts">Donuts</a>
				</li>
			</ul>
		</div>
		<table>
			<th id="cakes">
				Cakes
			</th>
			<tr>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
			</tr>
		</table>
		
		<table>
			<th id="cookies">
				Cookies
			</th>
			<tr>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
			</tr>
		</table>
		
		<table>
			<th id="cupcakes">
				Cupcakes
			</th>
			<tr>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
			</tr>
		</table>
		
		<table>
			<th id="brownies">
				Brownies
			</th>
			<tr>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
			</tr>
		</table>
		
		<table>
			<th id="pastries">
				Pastries
			</th>
			<tr>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
			</tr>
		</table>
		
		<table>
			<th id="donuts">
				Donuts
			</th>
			<tr>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
				<td><img src="chocolatecake.jpg" width="150" height="112" alt="chocolate cake"></td>
			</tr>
		</table>
	
<a href="#top">Back to top</a>
		</div>
	</main>
	<footer>
		<table>
			<tr>
				<th>Hours of Operation</th>
			</tr>
			<tr>
				<td>
					Sunday
				</td>
				<td>
					Hours etc
				</td>
			</tr>
			<tr>
				<td>
					Monday
				</td>
				<td>
					Hours etc
				</td>
			</tr>
			<tr>
				<td>
					Tuesday
				</td>
				<td>
					Hours etc
				</td>
			</tr>
			<tr>
				<td>
					Wednesday
				</td>
				<td>
					Hours etc
				</td>
			</tr>
			<tr>
				<td>
					Thursday
				</td>
				<td>
					Hours etc
				</td>
			</tr>
			<tr>
				<td>
					Friday
				</td>
				<td>
					Hours etc
				</td>
			</tr>
			<tr>
				<td>
					Saturday
				</td>
				<td>
					Hours etc
				</td>
			</tr>
		</table>
		
		<div id="sitemap">
			<ul>
				<li>
					<a href="index.html">Home</a>
				</li>
				<li>
					<a href="about.html">About</a>
				</li>
				<li>
					<a href="products.html">Products</a>
				</li>
				<li>
					<a href="catering.html">Catering</a>
				</li>
				<li>
					<a href="contact.html">Contact</a>
				</li>
			</ul>
		</div>
		
		<div id="contactinfo">
			<div id="address">
				1234 Bakery Lane
				Vancouver, British Columbia
				V8W 5K9
			</div>
			<div id="phone">
				(604) 888-8888
			</div>
			<div id="socialmedia">
				social media here
			</div>
		</div>
			
	</footer>
	
</body>

</html>