<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>!DOCTYPE Desserts</title>
	<link rel="stylesheet" href="../style/base.css" media="screen">
	<link rel="stylesheet" href="../style/products.css">
	<link rel="stylesheet" href="../style/printbase.css" media="print">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<script src="../javascript/products.js"></script>

</head>

<body>

	<!--header-->
	<header>
		<div id="headcontainer">
			<!--Nav is within the header-->
			<a href="index.html"><div id="logo"></div></a>
				<div id="logincart">
					<a href="signin.html">Sign In</a>
					<a href="cart.html">Cart</a>
				</div>
				<nav>
					<ul>
						<li>
							<a href="aboutus.html">
								<div class="navbutton">
									<p>About Us</p>
								</div>
							</a>
						</li>
						<li>
							<a href="products.html">
								<div class="navbutton">
									<p>Products</p>
								</div>
							</a>
						</li>
						<li>
							<a href="catering.html">
								<div class="navbutton">
									<p>Catering</p>
								</div>
							</a>
						</li>
						<li>
							<a href="testimonials.html">
								<div class="navbutton">
									<p>Testimonials</p>
								</div>
							</a>
						</li>
						<li>
							<a href="contact.html">
								<div class="navbutton">
									<p>Contact Us</p>
								</div>
							</a>
						</li>
					</ul>
				</nav>
			
			<!--Keep the "clear" div so all the floated divs stay in the header-->
			<div class="clear"></div>
		</div>
	</header>
	
	<!--main content here-->
	<main id="main">
	<img id="printlogo" src="../images/whitelogo.png" alt="print logo" width="374" height="168">
		<div id="filter">
			<ul>
				<li class="special">
					Filter by:
				</li>
				<li>
					<input type="checkbox" id="chkGlutenFree" onchange="hideGluten()">
					<img src="../images/icons/gluten.png" alt="contains gluten" width="20" height="20">
					Contains Gluten
				</li>
				<li>
					<input type="checkbox" id="chkEggFree" onchange="hideEgg()">
					<img src="../images/icons/egg.png" alt="contains eggs" width="20" height="20">
					Contains Eggs
				</li>
				<li>
					<input type="checkbox" id="chkLactoseFree" onchange="hideMilk()">
					<img src="../images/icons/milk.png" alt="contains lactose" width="20" height="20">
					Contains Lactose
				</li>
				<li>
					<input type="checkbox" id="chkPeanutFree" onchange="hidePeanut()">
					<img src="../images/icons/peanut.png" alt="contains nuts" width="20" height="20">
					Contains Nuts
				</li>
				<li>
					<input type="button" onclick="resetAll()" value="Show All" class="buttons">
				</li>
			</ul>
		</div>
		<div id="products">
			<!--Back to top links here-->
			<table id="top">
				<tr>
					<th id="brownies" class="sectionhead" colspan="3">
						Brownies
					</th>
				</tr>
				<tr>
					<td class="thumbnails">
						<figure>
							<img src="../images/products/brownies.jpg" width="150" height="112" alt="chocolate brownie">
							<br>
							<div class="tooltip">
							<img src="../images/icons/allergyFree.png" alt="allergy-free" width="20" height="20">
								<span class="tooltiptext">Allergy-free</span>
							</div>
							<figcaption>Chocolate Brownie</figcaption>
						</figure>
					</td>
					<td class="thumbnails">
						<figure class="gluten">
							<img src="../images/products/brownies2.jpg" width="150" height="112" alt="iced sugar brownie">
							<br>
							<div class="tooltip">
								<img src="../images/icons/gluten.png" alt="contains gluten" width="20" height="20">
								<span class="tooltiptext">Contains gluten</span>
							</div>
							<figcaption>Iced Sugar Brownie</figcaption>
						</figure>
					</td>
					<td class="thumbnails">
						<figure class="milk">
							<img src="../images/products/brownies3.jpg" width="150" height="112" alt="marshmallow fudge">
							<br>
							<div class="tooltip">
								<img src="../images/icons/milk.png" alt="contains lactose" width="20" height="20">
								<span class="tooltiptext">Contains lactose</span>
							</div>
							<figcaption>Marshmallow Fudge</figcaption>
						</figure>
					</td>
				</tr>

				<tr>
					<th id="cakes" class="sectionhead" colspan="3">
					Cakes
					</th>
				</tr>
				<tr>
					<td class="thumbnails">
						<figure class="egg">
							<img src="../images/chocolatecake.jpg" width="150" height="112" alt="chocolate cake">
							<br>
							<div class="tooltip">
								<img src="../images/icons/egg.png" alt="contains eggs" width="20" height="20">
								<span class="tooltiptext">Contains eggs</span>
							</div>
							<figcaption>Chocolate Cake</figcaption>
						</figure>
					</td>
					<td class="thumbnails">
						<figure class="milk">
							<img src="../images/products/cakes2.jpg" width="150" height="112" alt="chocolate tart">
							<br>
							<div class="tooltip">
								<img src="../images/icons/milk.png" alt="contains lactose" width="20" height="20">
								<span class="tooltiptext">Contains lactose</span>
							</div>
							<figcaption>Chocolate Tart</figcaption>
						</figure>
					</td>
					<td class="thumbnails">
						<figure class="milk">
							<img src="../images/products/cakes3.jpg" width="150" height="112" alt="raspberry cake">
							<br>
							<div class="tooltip">
								<img src="../images/icons/milk.png" alt="contains lactose" width="20" height="20">
								<span class="tooltiptext">Contains lactose</span>
							</div>
							<figcaption>Raspberry Cake</figcaption>
						</figure>
					</td>
				</tr>

				<tr>
					<th id="cookies" class="sectionhead" colspan="3">
						Cookies
					</th>
				</tr>
				<tr>
					<td class="thumbnails">
						<figure class="gluten">
							<img src="../images/products/cookies.jpg" width="150" height="112" alt="blueberry cookies">
							<br>
							<div class="tooltip">
								<img src="../images/icons/gluten.png" alt="contains gluten" width="20" height="20">
								<span class="tooltiptext">Contains gluten</span>
							</div>
							<figcaption>Blueberry Cookies</figcaption>
						</figure>
					</td>
					<td class="thumbnails">
						<figure class="nut">
							<img src="../images/products/cookies2.jpg" width="150" height="112" alt="almond cookies">
							<br>
							<div class="tooltip">
								<img src="../images/icons/peanut.png" alt="contains nuts" width="20" height="20">
								<span class="tooltiptext">Contains nuts</span>
							</div>
							<figcaption>Almond Cookies</figcaption>
						</figure>
					</td>
					<td class="thumbnails">
						<figure class="egg">
							<img src="../images/products/cookies3.jpg" width="150" height="112" alt="oatmeal cookies">
							<br>
							<div class="tooltip">
								<img src="../images/icons/egg.png" alt="contains eggs" width="20" height="20">
								<span class="tooltiptext">Contains eggs</span>
							</div>
							<figcaption>Oatmeal Cookies</figcaption>
						</figure>
					</td>
				</tr>

				<tr>
					<th id="cupcakes" class="sectionhead" colspan="3">
						Cupcakes
					</th>
				</tr>
				<tr>
					<td class="thumbnails">
						<figure class="egg">
							<img src="../images/products/cupcakes.jpg" width="150" height="112" alt="lime cupcake">
							<br>
							<div class="tooltip">
								<img src="../images/icons/egg.png" alt="contains eggs" width="20" height="20">
								<span class="tooltiptext">Contains eggs</span>
							</div>
							<figcaption>Lime Cupcake</figcaption>
						</figure>
					</td>
					<td class="thumbnails">
						<figure class="gluten">
							<img src="../images/products/cupcakes2.jpg" width="150" height="112" alt="chocolate cupcake">
							<br>
							<div class="tooltip">
								<img src="../images/icons/gluten.png" alt="contains gluten" width="20" height="20">
								<span class="tooltiptext">Contains gluten</span>
							</div>
							<figcaption>Chocolate Cupcake</figcaption>
						</figure>
					</td>
					<td class="thumbnails">
						<figure class="egg">
							<img src="../images/products/cupcakes3.jpg" width="150" height="112" alt="butter cream cupcake">
							<br>
							<div class="tooltip">
								<img src="../images/icons/egg.png" alt="contains eggs" width="20" height="20">
								<span class="tooltiptext">Contains eggs</span>
							</div>
							<figcaption>Butter Cream Cupcake</figcaption>
						</figure>
					</td>
				</tr>

				<tr>
					<th id="donuts" class="sectionhead" colspan="3">
						Donuts
					</th>
				</tr>
				<tr>
					<td class="thumbnails">
						<figure class="milk">
							<img src="../images/products/donut.jpg" width="150" height="112" alt="powdered donut">
							<br>
							<div class="tooltip">
								<img src="../images/icons/milk.png" alt="contains lactose" width="20" height="20">
								<span class="tooltiptext">Contains lactose</span>
							</div>
							<figcaption>Powdered Donut</figcaption>
						</figure>
					</td>
					<td class="thumbnails">
						<figure class="egg">
							<img src="../images/products/donut2.jpg" width="150" height="112" alt="sugar donut">
							<br>
							<div class="tooltip">
								<img src="../images/icons/egg.png" alt="contains eggs" width="20" height="20">
								<span class="tooltiptext">Contains eggs</span>
							</div>
							<figcaption>Sugar Donut</figcaption>
						</figure>
					</td>
					<td class="thumbnails">
						<figure class="gluten">
							<img src="../images/products/donut3.jpg" width="150" height="112" alt="homemade donut">
							<br>
							<div class="tooltip">
								<img src="../images/icons/gluten.png" alt="contains gluten" width="20" height="20">
								<span class="tooltiptext">Contains gluten</span>
							</div>
							<figcaption>Homemade Donut</figcaption>
						</figure>
					</td>
				</tr>

				<tr>
					<th id="macarons" class="sectionhead" colspan="3">
						Macarons
					</th>
				</tr>
				<tr>
					<td class="thumbnails">
						<figure class="nut">
							<img src="../images/products/macaron.jpg" width="150" height="112" alt="raspberry macaron">
							<br>
							<div class="tooltip">
								<img src="../images/icons/peanut.png" alt="contains nuts" width="20" height="20">
								<span class="tooltiptext">Contains nuts</span>
							</div>
							<figcaption>Raspberry Macaron</figcaption>
						</figure>
					</td>
					<td class="thumbnails">
						<figure class="nut">
							<img src="../images/products/macaron2.jpg" width="150" height="112" alt="peach macaron">
							<br>
							<div class="tooltip">
								<img src="../images/icons/peanut.png" alt="contains nuts" width="20" height="20">
								<span class="tooltiptext">Contains nuts</span>
							</div>
							<figcaption>Peach Macaron</figcaption>
						</figure>
					</td>
					<td class="thumbnails">
						<figure class="egg">
							<img src="../images/products/macaron3.jpg" width="150" height="112" alt="oreo macaron">
							<br>
							<div class="tooltip">
								<img src="../images/icons/egg.png" alt="contains eggs" width="20" height="20">
								<span class="tooltiptext">Contains eggs</span>
							</div>
							<figcaption>Oreo Macaron</figcaption>
						</figure>
					</td>
				</tr>
			</table>
			<p class="backup">
				<a href="#top">Back to top</a>
			</p>
		</div>	
	</main>
	
<!--footer-->
	<footer>
		<div class="footcontainer">
			<div>
				<table id="operation">					
					<tr>
						<th colspan="2">Hours of Operation <br> &nbsp; </th>
					</tr>
					<tr>
						<td>
							Mon - Fri
						</td>
						<td>
							8AM - 4PM
						</td>
					</tr>
					<tr>
						<td>
							Sat - Sun
						</td>
						<td>
							10AM - 3PM
						</td>
					</tr>
					<tr>
						<td>
							Holidays
						</td>
						<td>
							Closed
						</td>
					</tr>
				</table>
			</div>			
		<div id="sitemap">
			<div> 
				<b>Navigation links</b>
				<br>
				&nbsp; <br>
				<a href="index.html">Home</a>
				<br>
				<a href="aboutus.html">About</a>
				<br>
				<a href="products.html">Products</a>
				<br>
				<a href="catering.html">Catering</a>
				<br>
				<a href="testimonials.html">Testimonials</a>
				<br>
				<a href="contact.html">Contact</a>
			</div>
		</div>
			<div id="contactinfo">
				<div id="address">
					<b>Address</b>
					<br> &nbsp;
				</div>
				<div>
					1234 Bakery Lane<br>
					Vancouver, British Columbia<br>
					Canada V8W 5K9
				</div>
				<br>
				<div id="phone">
					<a href="tel:604-888-8888">(604)-888-8888</a>
				</div>			
			</div>
			<div class="fa">
				<a href="https://www.facebook.com" class="fa fa-facebook"></a>
				<a href="https://www.twitter.com" class="fa fa-twitter"></a>
				<a href="https://www.instagram.com" class="fa fa-pinterest"></a>
				<a href="https://www.pinterest.com" class="fa fa-instagram"></a>
			</div>
		</div>
	</footer>

</body>

</html>