<!DOCTYPE html>
	<html lang="en">
	<head>
	<meta charset="utf-8">
	<title>!DOCTYPE Desserts</title>
	<link rel="stylesheet" href="../style/base.css" media="screen">
	<link rel="stylesheet" href="../style/signin.css" media="screen">
	<link rel="stylesheet" href="../style/printbase.css" media="print">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	<!--header-->
	<header>
		<div id="headcontainer">
			<!--Nav is within the header-->
			<div id="logo"></div>
			
				<div id="skip"> 
					<a href="#main" tabindex="1">Skip to content</a>
				</div>	
				<div id="logincart">
					<a href="signin.html">Sign In</a>
					<a href="cart.html">Cart</a>
				</div>
				<nav>
					<ul>
						<li>
							<a href="index.html">
								<div class="navbutton">
									<p>Home</p>
								</div>
							</a>
						</li>
						<li>
							<a href="aboutus.html">
								<div class="navbutton">
									<p>About Us</p>
								</div>
							</a>
						</li>
						<li>
							<a href="products.html">
								<div class="navbutton">
									<p>Products</p>
								</div>
							</a>
						</li>
						<li>
							<a href="catering.html">
								<div class="navbutton">
									<p>Catering</p>
								</div>
							</a>
						</li>
						<li>
							<a href="contact.html">
								<div class="navbutton">
									<p>Contact Us</p>
								</div>
							</a>
						</li>
					</ul>
				</nav>
			
			<!--Keep the "clear" div so all the floated divs stay in the header-->
			<div class="clear"></div>
		</div>
	</header>
    <main id ="main">
	<img id="printlogo" src="../images/whitelogo.png" alt="print logo" width="374" height="168">
		<div id="leftrightcol">
			<div id="leftcol">
				<form action="http://webdevfoundations.net/scripts/formdemo.asp" method="post">
					
						<h2>Sign in</h2>
						<label for="Username">Username <span class="required">*</span><br>
						</label>
							<input class="input" type="text" name="name" placeholder="Username" required><br>
						
						<label for="Password">Password <span class="required">*</span><br>
						</label>
							<input class="input" type="password" name="password" placeholder="********" required><br>
						
						<label for="Remember">
							Remember me
						</label>
							<input id="Remember" type="checkbox" name="remember">
						
							<input class="submit" type="submit" name="name" value="Log in"><br>
					
				</form>
			</div>
			
			<div id="rightcol">
				<form action="http://webdevfoundations.net/scripts/formdemo.asp" method="post">
					
					<h2>Create a new account</h2>
						<label for="Username">Username <span class="required">*</span><br>
						</label>
							<input class="input" type="text" name="name" id="Username" placeholder="Username" required><br>
						<label for="Password">Password <span class="required">*</span><br>
						</label>
							<input class="input" type="password" name="password"  id="Password" placeholder="********" required><br>
							
						<label for="Password">Verify Password <span class="required">*</span><br>
						</label>
							<input class="input" type="password" name="password" id="Verify" placeholder="********" required><br>
							
						<label for="E-mail">
							E-mail <span class="required">*</span><br>
						</label>
							<input class="input" type="email" name="email" id="E-mail" placeholder="e-mail" required><br>
							
							<input class="submit" type="submit" name="name" value="Submit"><br>
				</form>
			</div>
		</div>
		<p class="backup">
			<a href="#top">Back to top</a>
		</p>
	</main>	

	<!--footer-->
	<footer>
		<div class="footcontainer">
			<div>
				<table id="operation">					
					<tr>
						<th colspan="2">Hours of Operation <br> &nbsp; </th>
					</tr>
					<tr>
						<td>
							Mon - Fri
						</td>
						<td>
							8AM - 4PM
						</td>
					</tr>
					<tr>
						<td>
							Mon - Fri
						</td>
						<td>
							8AM - 4PM
						</td>
					</tr>
					<tr>
						<td>
							Holidays
						</td>
						<td>
							Closed
						</td>
					</tr>
				</table>
			</div>			
		<div id="sitemap">
			<div> 
				<b>Navigation links</b>
				<br> &nbsp; <br>
				<a href="index.html">Home</a>
				<br>
				<a href="aboutus.html">About</a>
				<br>
				<a href="products.html">Products</a>
				<br>
				<a href="catering.html">Catering</a>
				<br>
				<a href="contact.html">Contact</a>
			</div>
		</div>
			<div id="contactinfo">
				<div id="address">
					<b>Address</b>
					<br> &nbsp;
				</div>
				<div>
					1234 Bakery Lane<br>
					Vancouver, British Columbia<br>
					Canada V8W 5K9
				</div>
				<br>
				<div id="phone">
					<a href="tel:604-888-8888">(604)-888-8888</a>
				</div>			
			</div>
			<div class="fa">
				<a href="https://www.facebook.com" class="fa fa-facebook"></a>
				<a href="https://www.twitter.com" class="fa fa-twitter"></a>
				<a href="https://www.instagram.com" class="fa fa-pinterest"></a>
				<a href="https://www.pinterest.com" class="fa fa-instagram"></a>
			</div>
		</div>
	</footer>

</body>

</html>

