<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>The most amazing patisserie!</title>
</head>

<body>

	<header>
		<div id="image" style="height:80px; width: 180px; border: solid 2px;">
		</div>
		<div id="signin" style="height: 50px; width: 100px; border: solid 2px;">
		</div>
	</header>
	<nav>
		<ul>
			<li>
				Home
			</li>
			<li>
				About Us
			</li>
			<li>
				Products
			</li>
			<li>
				Catering
			</li>
			<li>
				Contact Us
			</li>
	</nav>
	<main>
		<div id="top" style="height: 600px; border: solid 2px;">
			<a href="#top">Back to top</a>
		</div>
	</main>
	<footer>
		<table>
			<tr>
				<th>Hours of Operation</th>
			</tr>
			<tr>
				<td>
					Sunday
				</td>
				<td>
					Hours etc
				</td>
			</tr>
			<tr>
				<td>
					Monday
				</td>
				<td>
					Hours etc
				</td>
			</tr>
			<tr>
				<td>
					Tuesday
				</td>
				<td>
					Hours etc
				</td>
			</tr>
			<tr>
				<td>
					Wednesday
				</td>
				<td>
					Hours etc
				</td>
			</tr>
			<tr>
				<td>
					Thursday
				</td>
				<td>
					Hours etc
				</td>
			</tr>
			<tr>
				<td>
					Friday
				</td>
				<td>
					Hours etc
				</td>
			</tr>
			<tr>
				<td>
					Saturday
				</td>
				<td>
					Hours etc
				</td>
			</tr>
		</table>
		
		<div id="sitemap">
			<ul>
				<li>
					Home
				</li>
				<li>
					About
				</li>
				<li>
					Products
				</li>
				<li>
					Catering
				</li>
				<li>
					Contact
				</li>
			</ul>
		</div>
		
		<div id="contactinfo">
			<div id="address">
				1234 Bakery Lane
				Vancouver, British Columbia
				V8W 5K9
			</div>
			<div id="phone">
				(604) 888-8888
			</div>
			<div id="socialmedia">
				social media here
			</div>
		</div>
			
	</footer>
	
</body>

</html>