<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Madeleine's</title>
	<link rel="stylesheet" href="../style/base.css" media="screen">
	<link rel="stylesheet" href="../style/printbase.css" media="print">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	<!--header-->
	<header>
		<nav id="headbox">
			<a href="index.html" id="logo"><img src="../images/logo.png" alt="Madeleine's"></a>
			<a href="cart.html" class="navshop fa fa-shopping-cart fa-2x"></a>
			<a href="signin.html" class="navshop fa fa-user-circle fa-2x"></a>
				<ul>
					<li>
						<a href="aboutus.html" class="navlink">About Us</a>
					</li>
					<li>
						<a href="products.html" class="navlink">Products</a>
					</li>
					<li>
						<a href="catering.html" class="navlink">Catering</a>
					</li>
					<li>
						<a href="testimonials.html" class="navlink">Testimonials</a>
					</li>
					<li>
						<a href="contact.html" class="navlink">Contact Us</a>
					</li>
				</ul>
		</nav>
		<!--Keep the "clear" div so all the floated divs stay in the header-->
		<div class="clear"></div>
	</header>
	
	<!--main content here-->
	<main id="main">
	
		<p class="centered">|</p>
		<a href="#0" class="backup">Back to top</a>
	</main>
	
	<!--footer-->
	<footer>
		<div class="footbox">
			<div id="hours">
				<table>					
					<tr>
						<th colspan="2">
							HOURS <br> &nbsp; 
						</th>
					</tr>
					<tr>
						<td>
							Mon - Fri
						</td>
						<td>
							8AM - 4PM
						</td>
					</tr>
					<tr>
						<td>
							Sat - Sun
						</td>
						<td>
							10AM - 3PM
						</td>
					</tr>
					<tr>
						<td>
							Holidays
						</td>
						<td>
							Closed
						</td>
					</tr>
				</table>
			</div>			
			<div id="sitemap">
				<table>
					<tr>
						<th>
							LINKS <br> &nbsp;
						</th>
					</tr>
					<tr>
						<td>
							<a href="index.html">Home</a><br>
						</td>
					</tr>
					<tr>
						<td>
							<a href="products.html">Products</a><br>
						</td>
					</tr>
					<tr>
						<td>
							<a href="catering.html">Catering</a><br>
						</td>
					</tr>
					<tr>
						<td>
							<a href="testimonials.html">Testimonials</a><br>		
						</td>
					</tr>
					<tr>
						<td>
							<a href="contact.html">Contact</a><br>
						</td>
					</tr>
				</table>
			</div>
			<div id="contactinfo">				
				<table>
					<tr id="address">
						<th>
							<b>ADDRESS</b> <br> &nbsp;
						</th>
					</tr>
					<tr>
						<td>
							<a href="./contact.html">
								1234 Bakery Lane<br>
								Vancouver, British Columbia<br>
								Canada V8W 5K9<br> &nbsp;
							</a>
						</td>
					</tr>
					<tr>
						<td id="phone">
							<a href="tel:604-888-8888">(604)-888-8888</a><br>
						</td>
					</tr>
				</table>
			</div>
			<div class="fa">
				<table id="follow">
					<tr>
						<th colspan="2">
							CONNECT <br> &nbsp;
						</th>
					</tr>
					<tr>
						<td>
							<a href="https://www.facebook.com" class="fa fa-facebook"></a>
						</td>
						<td>
							Facebook
						</td>
					</tr>
					<tr>
						<td>
							<a href="https://www.twitter.com" class="fa fa-twitter"></a>
						</td>
						<td>
							Twitter
						</td>
					</tr>
					<tr>
						<td>
							<a href="https://www.instagram.com" class="fa fa-pinterest"></a>
						</td>
						<td>
							Pinterest
						</td>
					</tr>
					<tr>
						<td>
							<a href="https://www.pinterest.com" class="fa fa-instagram"></a>
						</td>
						<td>
							Instagram						
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div  id="copyr">
			<hr>
			<p>
				Copyright &copy; Madeleine's, All rights reserved.
			</p>
		</div>
	</footer>
</body>

</html>












