<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>The most amazing patisserie!</title>
	<link rel="stylesheet" href="../styles/base.css" media="screen">
</head>

<body>

	<!--header-->
	<header>
		<div id="headcontainer">
			<div id="skip">
				<p>
					<a href="#main">Skip to content</a>
				</p>
			</div>
			<div id="signin">
				<ul>
					<li>
						<a href="signin">Sign In</a>
					</li>
					<li>
						<a href="cart">Cart</a>
					</li>
				</ul>	
			</div>
			
			<!--Nav is within the header-->
			<nav>
				<div id="logo">
					<img src="../images/chocolatecake.jpg" alt="Logo" style="width:170px; height:70px;">
				</div>
				<a href="index.html">
					<div class="navbutton">
						<p>Home</p>
					</div>
				</a>
				<a href="about.html">
					<div class="navbutton">
						<p>About Us</p>
					</div>
				</a>
				<a href="products.html">
					<div class="navbutton">
						<p>Products</p>
					</div>
				</a>
				<a href="catering">
					<div class="navbutton">
						<p>Catering</p>
					</div>
				</a>
				<a href="contact">
					<div class="navbutton">
						<p>Contact Us</p>
					</div>
				</a>
			</nav>
		</div>
	</header>
	
	<!--main content here-->
	<main id="main">
		<!--leave the id="top" somewhere so we have a back to top link-->
		<div id="top">
			<p id="backup">
				<a href="#top">Back to top</a>
			</p>
		</div>
	</main>
	
	<!--footer-->
	<footer>
		<div id="footcontainer">
			<table>
				<tr>
					<th colspan="2">Hours of Operation</th>
				</tr>
				<tr>
					<td>
						Sunday
					</td>
					<td>
						Hours etc
					</td>
				</tr>
				<tr>
					<td>
						Monday
					</td>
					<td>
						Hours etc
					</td>
				</tr>
				<tr>
					<td>
						Tuesday
					</td>
					<td>
						Hours etc
					</td>
				</tr>
				<tr>
					<td>
						Wednesday
					</td>
					<td>
						Hours etc
					</td>
				</tr>
				<tr>
					<td>
						Thursday
					</td>
					<td>
						Hours etc
					</td>
				</tr>
				<tr>
					<td>
						Friday
					</td>
					<td>
						Hours etc
					</td>
				</tr>
				<tr>
					<td>
						Saturday
					</td>
					<td>
						Hours etc
					</td>
				</tr>
			</table>
			
			<div id="contactinfo">
				<div id="address">
					1234 Bakery Lane
					<br>Vancouver, British Columbia
					<br>Canada V8W 5K9
				</div>
				<div id="phone">
					<a href="tel:604-888-8888">(604)-888-8888</a>
				</div>
				<div id="socialmedia">
					social media here
				</div>
			</div>
			
			<div id="sitemap">
			<ul>
				<li>
					<a href="index.html">Home</a>
				</li>
				<li>
					<a href="about.html">About</a>
				</li>
				<li>
					<a href="products.html">Products</a>
				</li>
				<li>
					<a href="catering.html">Catering</a>
				</li>
				<li>
					<a href="contact.html">Contact</a>
				</li>
			</ul>
		</div>
		</div>
	</footer>

</body>

</html>