<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>!DOCTYPE Desserts</title>
	<link rel="stylesheet" href="../style/base.css" media="screen">
	<link rel="stylesheet" href="../style/testimonials.css">
	<link rel="stylesheet" href="../style/printbase.css" media="print">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<!--back to top links here-->
	<div id="top">
		<!--header-->
		<header>
			<div id="headcontainer">
				<!--Nav is within the header-->
				<div id="logo"></div>
				
					<div id="skip"> 
						<a href="#main" tabindex="1">Skip to content</a>
					</div>	
					<div id="logincart">
						<a href="signin.html">Sign In</a>
						<a href="cart.html">Cart</a>
					</div>
				<nav>
					<ul>
						<li>
							<a href="index.html">
								<div class="navbutton">
									<p>Home</p>
								</div>
							</a>
						</li>
						<li>
							<a href="aboutus.html">
								<div class="navbutton">
									<p>About Us</p>
								</div>
							</a>
						</li>
						<li>
							<a href="products.html">
								<div class="navbutton">
									<p>Products</p>
								</div>
							</a>
						</li>
						<li>
							<a href="catering.html">
								<div class="navbutton">
									<p>Catering</p>
								</div>
							</a>
						</li>
						<li>
							<a href="contact.html">
								<div class="navbutton">
									<p>Contact Us</p>
								</div>
							</a>
						</li>
					</ul>
				</nav>
				
				<!--Keep the "clear" div so all the floated divs stay in the header-->
				<div class="clear"></div>
			</div>
		</header>
		
		<!--main content here-->
		<main id="main">
		<img id="printlogo" src="../images/whitelogo.png" alt="print logo" width="374" height="168">
			<h2>
				Testimonials
			</h2>
			<div class="testimonial">
				<div class="odd" >
					<img src="../images/chocolatecake.jpg" alt="chocolate cake" width="100" height="100">
				</div>
				<div class="oddcontent">
					Name
					<br>
					Lorem ipsum dolor sit amet, vix et wisi porro lorem. Ius ne sadipscing temporibus. 
					At alterum legimus mnesarchum vix. Ne omnis nihil assentior pro. Blandit argumentum 
					ex pro, latine molestie vivendum eos te. Vis soluta virtute ad.
				</div>
			</div>
			<div class="testimonial">
				<div class="even">
					<img src="../images/chocolatecake.jpg" alt="chocolate cake" width="100" height="100">
				</div>
				<div class="evencontent">
					Name
					<br>
					Nostrud oportere an vis, sit bonorum oporteat persequeris et, omnis iuvaret 
					volutpat ei nam. His ad facilisis voluptatum, est velit adipisci voluptaria 
					ex, delectus officiis assentior ex his. Cu vix dico oportere euripidis. Purto 
					oratio nec ne. Soluta malorum mea ex.
				</div>
			</div>
			<div class="testimonial">
				<div class="odd" >
					<img src="../images/chocolatecake.jpg" alt="chocolate cake" width="100" height="100">
				</div>
				<div class="oddcontent">
					Name
					<br>
					Lorem ipsum dolor sit amet, vix et wisi porro lorem. Ius ne sadipscing temporibus. 
					At alterum legimus mnesarchum vix. Ne omnis nihil assentior pro. Blandit argumentum 
					ex pro, latine molestie vivendum eos te. Vis soluta virtute ad.
				</div>
			</div>
				<p class="backup">
					<a href="#top">Back to top</a>
				</p>
		</main>
	</div>

	
	
	<!--footer-->
	<footer>
		<div class="footcontainer">
			<div>
				<table id="operation">					
					<tr>
						<th colspan="2">Hours of Operation <br> &nbsp; </th>
					</tr>
					<tr>
						<td>
							Mon - Fri
						</td>
						<td>
							8AM - 4PM
						</td>
					</tr>
					<tr>
						<td>
							Mon - Fri
						</td>
						<td>
							8AM - 4PM
						</td>
					</tr>
					<tr>
						<td>
							Holidays
						</td>
						<td>
							Closed
						</td>
					</tr>
				</table>
			</div>			
		<div id="sitemap">
			<div> 
				<b>Navigation links</b>
				<br>
				<a href="index.html">Home</a>
				<br>
				<a href="aboutus.html">About</a>
				<br>
				<a href="products.html">Products</a>
				<br>
				<a href="catering.html">Catering</a>
				<br>
				<a href="contact.html">Contact</a>
			</div>
		</div>
			<div id="contactinfo">
				<div id="address">
					<b>Address</b>
					<br> &nbsp;
				</div>
				<div>
					1234 Bakery Lane<br>
					Vancouver, British Columbia<br>
					Canada V8W 5K9
				</div>
				<br>
				<div id="phone">
					<a href="tel:604-888-8888">(604)-888-8888</a>
				</div>			
			</div>
			<div class="fa">
				<a href="https://www.facebook.com" class="fa fa-facebook"></a>
				<a href="https://www.twitter.com" class="fa fa-twitter"></a>
				<a href="https://www.instagram.com" class="fa fa-pinterest"></a>
				<a href="https://www.pinterest.com" class="fa fa-instagram"></a>
			</div>
		</div>
	</footer>

</body>

</html>