<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>!DOCTYPE Desserts</title>
	<link rel="stylesheet" href="../style/base.css" media="screen">
	<link rel="stylesheet" href="../style/useraccount.css" media="screen">
	<link rel="stylesheet" href="../style/printbase.css" media="print">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	<!--leave the id="top" somewhere so we have a back to top link-->
	<div id="top">
		<!--header-->
		<header>
			<div id="headcontainer">
				<!--Nav is within the header-->
				<div id="logo"></div>
				
					<div id="skip"> 
						<a href="#main" tabindex="1">Skip to content</a>
					</div>	
					<div id="logincart">
						<a href="login">Sign In</a>
						<a href="cart">Cart</a>
					</div>
				<nav>
					<ul>
						<li>
							<a href="index.html">
								<div class="navbutton">
									<p>Home</p>
								</div>
							</a>
						</li>
						<li>
							<a href="aboutus.html">
								<div class="navbutton">
									<p>About Us</p>
								</div>
							</a>
						</li>
						<li>
							<a href="products.html">
								<div class="navbutton">
									<p>Products</p>
								</div>
							</a>
						</li>
						<li>
							<a href="catering.html">
								<div class="navbutton">
									<p>Catering</p>
								</div>
							</a>
						</li>
						<li>
							<a href="contact.html">
								<div class="navbutton">
									<p>Contact Us</p>
								</div>
							</a>
						</li>
					</ul>
				</nav>
				
				<!--Keep the "clear" div so all the floated divs stay in the header-->
				<div class="clear"></div>
			</div>
		</header>
	
		<!--main content here-->
		<main id="main">
		<img id="printlogo" src="../images/whitelogo.png" alt="print logo" width="374" height="168">
			<div class="uinfo">
				<div class="leftcol">
					<div class="userinfo">
						<img src="../images/user.png" alt="Your picture" width="200" height="200">
						<h2>John Doe</h2><hr>
					</div>
					<div class="foods">
						<div id="allergies">
							<p>Allergies</p><br>
							<img src="../images/icons/peanut.png" alt="Peanut" width="35" height="35">
							<img src="../images/icons/egg.png" alt="Egg" width="35" height="35">
							<img src="../images/icons/milk.png" alt="Milk" width="35"	height="35">
						</div>
						<table id="likes">
							<caption>Favourites</caption>
							<tr>
								<td><img src="../images/products/cakes3.jpg" alt="Cakes" width="110" height="110"></td>
								<td><img src="../images/products/brownies2.jpg" alt="Brownies" width="110" height="110"></td>
								<td><img src="../images/products/donut2.jpg" alt="Donut" width="110" height="110"></td>
							</tr>
							<tr>
								<td>Cakes</td>
								<td>Brownies</td>
								<td>Donut</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="rightcol">
					<div class="accinfo">
						<h3> Account info</h3>
						<div id="email">
							<p> E-mail: Doctype@desserts.ca <button class="change">Change E-mail</button></p>
						</div>
						<div class="clear"></div>
						<br>
						<div id="password">
							<p>Password: <button class="change">Change password</button></p>
						</div>
						<div class="clear"></div>
						<br>
						<div class="orders">
							<div id="previous">
								Previous pastries
								<div class="clear"></div>
								<br>
								<img src="../images/products/cakes3.jpg" alt="Cake" width="150" height="112">
								<img src="../images/products/cakes2.jpg" alt="Cake" width="150" height="112">
								<img src="../images/products/cupcakes2.jpg" alt="Cupcake" width="150" height="112">
								<img src="../images/products/cupcakes.jpg" alt="Cupcake" width="150" height="112">
							</div>
						</div>
					</div>
				</div>
			</div>
		<div class="clear"></div>
			<p class="backup">
				<a href="#top">Back to top</a>
			</p>
		</main>
	</div>
	<!--footer-->
	<footer>
		<div class="footcontainer">
			<div>
				<table id="operation">					
					<tr>
						<th colspan="2">Hours of Operation <br> &nbsp; </th>
					</tr>
					<tr>
						<td>
							Mon - Fri
						</td>
						<td>
							8AM - 4PM
						</td>
					</tr>
					<tr>
						<td>
							Sat - Sun
						</td>
						<td>
							10AM - 3PM
						</td>
					</tr>
					<tr>
						<td>
							Holidays
						</td>
						<td>
							Closed
						</td>
					</tr>
				</table>
			</div>			
		<div id="sitemap">
			<div> 
				<b>Navigation links</b>
				<br> &nbsp; <br>
				<a href="index.html">Home</a>
				<br>
				<a href="aboutus.html">About</a>
				<br>
				<a href="products.html">Products</a>
				<br>
				<a href="catering.html">Catering</a>
				<br>
				<a href="contact.html">Contact</a>
			</div>
		</div>
			<div id="contactinfo">
				<div id="address">
					<b>Address</b>
					<br> &nbsp;
				</div>
				<div>
					1234 Bakery Lane<br>
					Vancouver, British Columbia<br>
					Canada V8W 5K9
				</div>
				<br>
				<div id="phone">
					<a href="tel:604-888-8888">(604)-888-8888</a>
				</div>			
			</div>
			<div class="fa">
				<a href="https://www.facebook.com" class="fa fa-facebook"></a>
				<a href="https://www.twitter.com" class="fa fa-twitter"></a>
				<a href="https://www.instagram.com" class="fa fa-pinterest"></a>
				<a href="https://www.pinterest.com" class="fa fa-instagram"></a>
			</div>
		</div>
	</footer>

</body>

</html>