/* For older browsers that don't support header,
footer, nav, and main elements */
header, footer, nav, main {
	display: block;
	}

/* Styles for the whole page */
body {
	background-color: #F5CEFF;
	color:#90423C;
	font-family: Verdana, Arial, sans-serif;
	margin: 0;
	}
	/*This is to make the "back to top" text
	within the main content */
#top {
	margin-bottom: 50px;
	}
/* End of whole page styles */

/* Header styles */
header {
	background-color: #9B3417;
	color: #F7D0BB;
	padding: 10px;
	width: 100%;
	}
	
header ul {
	list-style-type: none;
	margin: 0;
	}
header li {
	display: inline;
	}
	
header a {
	color: #F7D0BB;
	padding-right: 15px;
	text-decoration: none;
	}

#signin {
	float: right;
	position: absolute;
	right: 0;
	top: 0;
	}

/* Nav styles. Contained within header */	
nav ul {
	padding: 0;
	}
	
.navbutton {
	border: solid 1px #FF00FF;
	padding: 10px 15px;
	}
	
.navbutton a {
	text-align: center;
	}
/* End of header styles*/

/* Footer styles*/	
footer {
	background-color: #9B3417;
	color: #F7D0BB;
	font-size: 0.7em;
	padding: 10px;
	width: 100%
	}

footer table {
	float: left;
	padding: 0 70px 0 20px;
	text-align: left;
	}

footer th, td {
	padding: 0 20px;
	}

#contactinfo {
	float: right;
	padding: 30px 40px 0 0;
	}

#sitemap {
	text-transform: uppercase;
	}
#sitemap ul {
	list-style-position: inside;
	list-style-type: none;
	}
#sitemap li {
	padding: 7px 0;
	}
#sitemap a {
	color: #F7D0BB;
	text-decoration: none;
	}
	
#phone a:link {
	color: #F7D0BB;
	text-decoration: none;
}

#phone a:visited {
	color: #F7D0BB;
	text-decoration: none;
}

#phone a:hover {
	color: white;
}
/* End of footer styles */	

/* The back to top anchor */
#backup {
	float:right;
	}

/* Testimonials exclusive */
h2 {
	padding-left: 20px;
	}
.testimonial {
	border-bottom: solid 1px #9B3417;
	margin: 20px;
	}
.odd {
	float: left;
	height: 100px;
	margin: auto;
	width: 100px;
	}
.even {
	float: right;
	height: 100px;
	margin: auto;
	width: 100px;
	}
.content {
	padding: 20px;
	}
	
/* Products Exclusive */
#filter {
	float: left;
	font-weight: bold;
	text-transform: uppercase;
	}
#filter ul {
	list-style-type: none;
	}
#filter li {
	padding: 5px 0;
	}
#filter a {
	color:#90423C;
	text-decoration: none;
	}
#products {
	margin-left: 150px;
	}
.thumbnails {
	display: inline-block;
	}
.sectionhead {
	padding-left: 20px;
	text-align: left;
	text-transform: uppercase;
	}
	