main{
	padding-bottom: 40px;
}

#toprow p{
	margin-top: 0;
	margin-bottom: 0;	
	padding: 50px 0 30px 0;
}

#toprow{
	width: 100%;
	margin: auto;
	padding-bottom: 50px;
	background-image: url("../images/banner.jpeg");
	background-repeat: no-repeat;
	height: 116px;
	padding-left: 100px;
}

#shopcart{
	font-size: 30px;
	padding: 0px 20px;
	font-family: Verdana;
}

#botrow{
	width: 95%;
	margin: auto;
	margin-bottom: 50px;
}

#cart{
	width: 60%;
	margin-left: 0px;
	padding: 50px 50px;
	float: left;	
}

#detail{
	font-size: 20px;
	text-align: center;
	float: left;
	width: 25%;
}

#detail p{
	margin: 0;
}

.item{
	padding-top: 35px;
}

.pqi{
	font-size: 20px;
	text-align: right;
	width: 55%;
	float: right;
}

.trspace {
	padding: 0px 35px;
}


.product img{
	width: 15%;
	float: left;
}

.pname{
	font-size: 14px;
	font-weight: 700;
	width: 25%;
	float: left;
	padding-left: 30px;
}

.pinfo{
	padding: 0px 30px;
	margin-left: 30px;
}

.ppqi{
	width: 50%;
	float: right;
}

#rightcont{
	overflow: auto;
	margin: auto;
	width: 325px;
}

#checkout{
	width: 325px;
	margin-top: 30px;
	position: absolute;
	background-color: white;
	border: 3px solid #9B3417;
}

#receipt{
	background-color: #9B3417;
	border-style: none;	
	color: white;
	height: 60px;
	font-family: Verdana;
	font-size: 20px;
	text-align: center;
	padding-top: 30px;
}

.extraspace{
	height: 25px;
}

#main{	
	position: relative;
}

#order{
	margin: 15px;
	font-family: Verdana;
	line-height: 26.4px;
}
.leftside{
	font-weight: bold;
	color: #9B3417;
}

.discount{
	color: red;
}

.rightside{
	float: right;
}

.finalize{	
	background-color: #9B3417;
	border-style: none;	
	color: white;
	height: 80px;
	width: 100%;
	font-family: Verdana;
	font-size: 20px;
}

.finalize:hover{
	
	-webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
	background-color: #7B1403;
	cursor: pointer;
}

.btmfood{
	border: 1px red solid;
	clear: both;
}



