#wrapper {
	padding-left: 20px;
}

h1 {
	border-bottom: 1px solid #F2B7A6;
	margin-top: 0;
	padding-top: 10px;
	width: 480px;
}

#info p {
	width: 550px;
}

form {
	padding-top: 10px;
	width: 475px;
}

fieldset {
	border: 1px solid #9B3417;
	border-radius: 15px;
	margin-bottom: 10px;
	width:500px;
}

h2 {
	margin-top: 0px;
	padding-top: 5px;
}

li {
	list-style-type: none;
}

.required {
	color: red;
}

input {
	border: 1px solid #eee;
	border-radius: 2px;
	padding: 5px;
	width: 300px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.tel {
	width: 54px;
}

#desired input {
	width: 15px;
}

#submit input {
	background-color: #9B3417;
	border-style: none;
	color: white;
	height: 40px;
	margin-bottom: 20px;
	width: 100px;
}

#submit input:hover {
	opacity: 0.75;
}