/* Products Exclusive CSS */
#main {
	position: relative;
}

#filter {
	float: left;
	font-weight: bold;
	position: fixed;
	text-transform: uppercase;
}

#filter ul {
	list-style-type: none;
}

#filter li {
	padding: 20px 0;
}

#filter a {
	color:#000000;
	text-decoration: none;
}

#products {
	margin-left: 170px;
}

.thumbnails {
	display: inline-block;
}

.sectionhead {
	border-bottom: solid 1px #F7D0BB;
	padding-top: 20px;
	text-align: left;
	text-transform: uppercase;
}
