main p{
	margin: 0;
}

.uinfo{
	margin: auto;
}

.leftcol{
	float:left;
	width: 50%;
	margin-top: 100px;
}

#allergies{
	text-align: center;
}

#allergies{
	padding: 20px 0px;
}

#allergies img{
	width: 35px;
	height: 35px;
}

#likes{
	margin: auto;
	text-align: center;
}

#likes img{
	text-align: center;
	width: 100px;
	height: 100px;
	border: 5px solid rgba(0, 0, 0, 0);
}

.userinfo{	
	text-align: center;
	margin: 0 175px;
}

.rightcol{
	padding-top: 50px;
	overflow: auto;
}

.accinfo{
	margin-top: 100px;
	margin-left: 100px;
	width: 70%;
}

.sline{
	display: inline;
}

#email{
	float: left;
	width: 100%;
}

#password{
	float: left;
	width: 100%;
}

#previous{
	padding: 20px;
	text-align: center;
	border: 5px solid #9B3417;
}

#previous img{
	padding: 5px;
}

.orders{
	margin-top: 50px;
}

.change{
	float: right;
	background-color: #9B3417;
	border-style: none;	
	color: white;
	font-family: Verdana;
	padding: 5px;
}